.allinterested{
    width: 80%;
    height: 550px;
    border-radius: 3px;
    margin: 0 auto;
}
.interestedtopic{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: auto;
}
.changeClass{
    width: 22%;
    height: 100px;
    float: left;  
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 1em;
    opacity: 0.5;
}
.eachtopic{
    border-radius: 5px;
    width: 23%;
    height: 95px;
    float: left;
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 0.5em;
}

.nametopic{
    margin-left: 2.5em;
    z-index: 9999;
    position: relative;
    font-weight: bold;
    top: 35px;
    color: crimson;
}

.imageInterested{
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-top: -1.5em;
}
img{
    border-radius: 5px;
}

img :hover{
    background-color: aqua;
}

.btn{
    float: right;
    margin: 1em 2em 0em 0em;
    background-color: #3f51b5;
    outline: none !important;
}

#title{
    padding-left: .2em;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
    margin-top: 1em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 3px;
    margin-top: 1em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f51b5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f51b5; 
  }