<div class="registerform">
    <div class="form_wrapper">
        <div class="card">
            <div class="login-card-header">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Đặt lại mật khẩu</strong>
                </h5>
            </div>

            <!--Card content-->
            <div class="card-body">

                <p>Vui lòng nhập đầy đủ thông tin của bạn vào biểu mẫu dưới đây!</p>
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center mt-2">

                    <!--New Password -->
                    <mat-form-field>
                        <mat-label>Nhập mật khẩu mới</mat-label>
                        <input [(ngModel)]="password" formControlName="password" matInput
                            placeholder="Nhập mật khẩu mới" [type]="pasHide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="pasHide = !pasHide" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pasHide">
                            <mat-icon>{{pasHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('password','required')">Mật khẩu bắt buộc</mat-error>
                        <mat-error *ngIf="hasError('password','minlength')">Mật khẩu phải lớn hơn 6 kí tự</mat-error>
                        <mat-error *ngIf="hasError('password','maxlength')">Mật khẩu phải nhỏ hơn 255 kí tự
                        </mat-error>
                        <mat-error *ngIf="hasError('password','pattern')">Mật khẩu không hợp lệ</mat-error>
                        <mat-error
                            *ngIf="!hasError('password','required') && form.hasError('isNewPassEqualOldPass')">
                            Mật khẩu mới phải khác mật khẩu cũ</mat-error>
                    </mat-form-field>

                    <!-- Re Password -->
                    <mat-form-field>
                        <mat-label>Nhập lại mật khẩu mới</mat-label>
                        <input [(ngModel)]="rePassword" formControlName="rePassword" matInput
                            placeholder="Nhập lại mật khẩu mới" [type]="pasHide ? 'password' : 'text'"
                            [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="pasHide = !pasHide" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pasHide">
                            <mat-icon>{{pasHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('rePassword','required')">Nhập lại mật khẩu bắt buộc</mat-error>
                        <mat-error *ngIf="!hasError('rePassword','required') && form.hasError('isNotMatchPassword')">
                            Không trùng với mật khẩu</mat-error>
                    </mat-form-field>


                    <!-- Sign in button -->
                    <button class="btn-sign-in" [disabled]="form.invalid || !form.valid" mat-flat-button color="primary"
                        type="submit">
                        Đặt lại mật khẩu
                        <ng-container *ngIf="isLoading">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                    </button>
                    <mat-error *ngIf="hasErrorMessage">
                        {{message}}
                    </mat-error>
                </form>
                <!-- Form -->
            </div>
        </div>
    </div>
</div>