<div class="registerform">
    <div class="form_wrapper">
        <h2>Đặt lại mật khẩu</h2>
        <span class="title">Vui lòng nhập đầy đủ thông tin của bạn vào biểu mẫu dưới đây</span>
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="form-group">
                <label for="password">Nhập mật khẩu <span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="password"
                    [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('password').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('password').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Nhập lại mật khẩu<span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="repassword"
                    [ngClass]="{'is-invalid':form.get('repassword').touched && form.get('repassword').invalid}" />
                <div *ngIf="form.get('repassword').touched && form.get('repassword').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('repassword').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('repassword').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div *ngIf="error" class="err-mess"><span>{{message}}</span></div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!form.valid">Đăng ký</button>
            </div>
        </form>
    </div>
</div>