<div class="mb-5">
  <ng-container [ngSwitch]="typeArticle">
    <ng-container *ngSwitchCase="'virtual-trips'">
      <div class="virtual-trips">
        <mat-card>
          <mat-card-header class="bg-header text-white">
                <img class="ml-3" mat-card-avatar src="{{article.post.author.profileImage}}" />
                <mat-card-title>{{article.post.author.displayName}}</mat-card-title>
                <mat-card-subtitle class="text-white">{{article.post.pubDate | date }}</mat-card-subtitle>
                <mat-card-subtitle class="text-white">6 mục</mat-card-subtitle>
            <div class="d-flex justify-content-between">
              <div class="btn-interact">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button (click)="editPost()" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Chỉnh sửa</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>remove</mat-icon>
                    <span>Xoá bỏ</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </mat-card-header>
          <slideshow #slideShow [minHeight]="'525px'" [showCaptions]="true" [autoPlay]="false" [showArrows]="true"
            [showDots]="true" stopAutoPlayOnSlide="true" [imageUrls]="imageSources"
            [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
          </slideshow>
          <mat-card-content>
            <div *ifChanges='desTitle' [@myTrigger]>
              <h5>{{desTitle}}</h5>
              <mat-card-subtitle>{{desFormat}}</mat-card-subtitle>
              <p>{{desNote}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="2">

    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-card class="example-card">
        <mat-card-header class=" post-header">
          <img mat-card-avatar src="{{article.post.author.profileImage}}" />
          <mat-card-title>{{article.post.author.displayName}}</mat-card-title>
          <mat-card-subtitle>{{article.post.pubDate}}</mat-card-subtitle>
          <div class="btn-interact">
            <div *ngIf="checkUser" [class]="follow ? 'icon-followed':'icon-unfollow'">
              <button (click)="followPerson(article.post.author.id)" mat-icon-button>
                <mat-icon>person_add</mat-icon>
              </button>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                (click)="bookmarkPost(article.post.id,article.post.title,article.post.coverImage,article.post.postType)"
                [class]="bookmark ? 'mat-menu-item icon-bookmark':'mat-menu-item icon-unbookmark'" mat-menu-item>
                <mat-icon [color]="bookmark?'primary':'grey'">bookmark</mat-icon>
                <span>Lưu</span>
              </button>
              <button mat-menu-item>
                <mat-icon>flag</mat-icon>
                <span>Báo cáo</span>
              </button>
              <button (click)="editPost()" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Chỉnh sửa</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-header>
        <mat-card-title>
          <a class="card-link" href="/post-detail?postId={{article.post.id}}">
            <h5 class="card-title">{{article.post.title}}</h5>
          </a>
        </mat-card-title>
        <div *ngIf="article.post.coverImage" class="card-body-image">
          <img mat-card-image src="{{article.post.coverImage}}" alt="">
        </div>
        <mat-card-content>
          <p>
            {{article.post.content.substr(3,300)}}
          </p>
        </mat-card-content>
        <div>
          <mat-chip-list>
            <mat-chip *ngFor="let chip of article.destinations">{{chip}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="d-flex justify-content-between ">
          <mat-card-subtitle>{{article.post.likeCount}} thích</mat-card-subtitle>
          <mat-card-subtitle>{{article.post.commentCount}} bình luận</mat-card-subtitle>
        </div>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <div [class]="article.post.liked ? 'likeClass':'unlikeClass'" (click)="likePost(article.post.liked)">
              <button mat-button>
                <mat-icon>thumb_up_alt</mat-icon>
                <span>Thích</span>
              </button>
            </div>
            <div>
              <button mat-button>
                <mat-icon>mode_comment</mat-icon>
                <span>Bình luận</span>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</div>