<div class="overview-post card gedf-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="{{post.author.profileImage}}" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0 name-author">{{post.author.displayName}}</div>
          <div class="text-muted h7"> <i class="fa fa-clock-o time-post"></i> {{post.pubDate}}</div>
        </div>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>flag</mat-icon>
            <span>Báo cáo</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Chỉnh sửa</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-body-image mb-3">
      <img src="../../../../assets/luff.jpg" alt="">
    </div>
    <a class="card-link" href="/post-detail?postId={{post.id}}">
      <h5 class="card-title">{{post.title}}</h5>
    </a>
    <!-- <div class="card-text" [innerHTML]="post.content"></div> -->
    <div class="card-text">Đa phần du khách chọn Kumho để di chuyển đến hà Tiên bởi sự tiện lợi của nó, bao gồm xe trung chuyển tới cửa khẩu miễn phí, xe giường nằm thoải mái, có wifi vi vu với mức giá tầm 200k/giường.</div>
    <div>
      <span href="" class="badge badge-primary">Đọc tiếp</span>

    </div>
  </div>
  <div class="card-footer d-flex">
    <div class="card-footer-content pr-4">
      <button mat-icon-button>
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <span>Thích</span>
    </div>
    <div class="card-footer-content pr-4">
      <button mat-icon-button>
        <mat-icon>mode_comment</mat-icon>
      </button>
      <span>Bình luận</span>
    </div>
    <div class="card-footer-content pr-4">
      <button mat-icon-button [matMenuTriggerFor]="menushare">
        <mat-icon>share</mat-icon>
      </button>
      <span>Chia sẻ</span>
      <mat-menu #menushare="matMenu">
        <button mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span>Báo cáo</span>
        </button>
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Chỉnh sửa</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<br>