.cropreview img{
   max-height: 20vh;
   max-width: 100%;
}
.cropreview{
    padding: 5px;
}
.btndialog button{
    margin-left: 10px; 
}
.btndialog{
    text-align: center;
}
.cancle{
    background-color: red !important;
}
.dialog-content {
   max-height: 80vh;
}
.image-crop-display {
    max-height: 60vh ;
    overflow: auto;
}