<div class="send-message-popup">
  <div class="title-section">
    <div>
      <mat-icon>textsms</mat-icon>
      <span class="receiverName">Gửi tin nhắn tới {{receiver.displayName}}</span>
      <button mat-icon-button (click)="cancel()">
          <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="body-section">
    <div>
      <textarea rows="4" [(ngModel)]="message" placeholder="Nhập nội dung tin nhắn..."></textarea>
    </div>
    <div class="errorMessage">
      {{errorMessage}}
    </div>
    <div>
        <button class="send-button" mat-button (click)="sendMessage()">Gửi</button>
    </div>
  </div>
</div>