<div class="row">
  <div class="col-9 left-content">
    <div
      class="item-shadow line-height ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
      role="textbox" aria-label="Rich Text Editor, main" [innerHTML]="companionPost.post.content">
    </div>
    <div class="item-shadow">
      <div>
        <h4 class="mb-4 mt-4 md-accent">Lịch trình chuyến đi</h4>
      </div>
      <div class="create-step mt-4">
        <mat-vertical-stepper color="primary" #stepper>
          <mat-step *ngFor="let item of companionPost.scheduleItems; let i = index " [completed]="false">
            <ng-template matStepLabel>
              <app-step-lable-companion-post [item]="item" [isDisplayMore]="false"></app-step-lable-companion-post>
            </ng-template>
            <div class="date-time pl-2">
              <mat-card-subtitle>
                {{item.day | date}}
              </mat-card-subtitle>
            </div>
            <div class="pl-2 pt-2">
              {{item.content}}
            </div>
          </mat-step>
          <ng-template matStepperIcon="edit" let-index="index">
            {{index + 1}}
          </ng-template>
          <ng-template matStepperIcon="done" let-index="index">
            {{index + 1}}
          </ng-template>
        </mat-vertical-stepper>
      </div>
    </div>
    <!-- những chi phí bao gồm -->
    <div class="item-shadow">
      <h4 class="mb-4 mt-4 md-accent">Những chi phí bao gồm</h4>
      <div style="margin-left: .8rem!important;">
        <mat-list>
          <mat-list-item *ngFor="let item of companionPost.estimatedCostItems ; let i = index">
            <mat-icon color="accent" matListIcon>check_circle</mat-icon>
            <h3 matLine> {{item}} </h3>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="right-content col-3">
    <ng-container *ngIf="checkHasRequest()">
      <div class="information">
        <div class="header-request ">
          Danh sách yêu cầu tham gia
        </div>
        <div *ngFor="let item of userListRequests; let i=index" class="">
          <div class="d-flex flex-row justify-content-between member-request-item">
            <div class="d-flex flex-row">
              <a class="member-avatar" aria-haspopup="true" mat-icon-button>
                <span class="mat-button-wrapper">
                  <img alt="user" class="imgavatar" src="{{item.user.profileImage}}">
                </span>
                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </a>
              <div class="">
                <h6>{{item.user.displayName}}</h6>
                <p class="infor-text-item ">
                  <span class="text-muted">{{item.date | date:'dd-MM-yyyy'}}</span>
                </p>
              </div>
            </div>
            <div class="align-self-center btn-request-control">
              <button color="primary" matTooltip="Chấp nhận" mat-icon-button>
                <mat-icon class="item-delete" (click)="accessRequestJoin(item.userId,i)">done</mat-icon>
              </button>
              <button color="warn" (click)="deleteRequest(i,false)" matTooltip="Xoá bỏ" mat-icon-button>
                <mat-icon class="item-delete">clear</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="information">
      <div class="infor-price">
        <ng-container *ngIf="companionPost.estimatedCost ; else hasPrice">
          <h3>{{companionPost.estimatedCost | strCurrency}} VNĐ</h3>
        </ng-container>
        <ng-template #hasPrice>
          <h3>Miễn Phí</h3>
        </ng-template>

      </div>
      <div class="join-request">
        <ng-container [ngSwitch]="statustRequest.type">
          <button *ngSwitchCase="'expired'" (click)="goToMessages()" mat-flat-button disabled>
            {{statustRequest.text}}
          </button>
          <button *ngSwitchCase="'joined'" (click)='sendRequest()' mat-flat-button
            color="{{statustRequest.type === 'waiting' ? 'warn' : 'primary'}}">
            {{statustRequest.text}}
          </button>
          <button *ngSwitchDefault (click)="goToMessages()" mat-flat-button color="primary">
            {{statustRequest.text}}
          </button>
        </ng-container>
        <!-- <ng-container *ngIf="statustRequest.type === 'joined'; else handelRequest">

        </ng-container>
        <ng-template #handelRequest>
          <button (click)='sendRequest()' mat-flat-button
            color="{{statustRequest.type === 'waiting' ? 'warn' : 'primary'}}">
            {{statustRequest.text}}
          </button>
        </ng-template> -->


      </div>
      <div class="infor-item d-flex flex-row">
        <div>
          <mat-icon>alarm_on</mat-icon>
        </div>
        <div class="infor-item-left">
          <h6>Thời gian bắt đầu</h6>
          <p class="infor-text-item">{{companionPost.from | date:'dd-MM-yyyy'}}</p>
        </div>
      </div>
      <div class="infor-item d-flex flex-row">
        <div>
          <mat-icon>alarm</mat-icon>
        </div>
        <div class="infor-item-left">
          <h6>Thời gian kết thúc</h6>
          <p class="infor-text-item">{{companionPost.to | date:'dd-MM-yyyy'}}</p>
        </div>
      </div>
      <div class="infor-item d-flex flex-row">
        <div>
          <mat-icon>alarm_off</mat-icon>
        </div>
        <div class="infor-item-left">
          <h6>Hạn kết thúc đăng kí</h6>
          <p class="infor-text-item">{{companionPost.expiredDate | date: 'dd-MM-yyyy'}}</p>
        </div>
      </div>
      <div class="infor-item d-flex flex-row">
        <div>
          <mat-icon>group</mat-icon>
        </div>
        <div class="infor-item-left">
          <h6>Số lượng thành viên</h6>
          <p class="infor-text-item">Từ {{companionPost.minMembers}} đến {{companionPost.maxMembers}} người</p>
        </div>
      </div>
    </div>
    <div class="information">
      <div class="num-member">
        <span class="num-member-text">{{userListGroup.length}}</span> đã tham gia
      </div>
      <div class="d-flex flex-wrap">
        <a *ngFor="let item of userListGroup" class="member-avatar" aria-haspopup="true" mat-icon-button>
          <span class="mat-button-wrapper">
            <img matTooltip="{{item.displayName}}" alt="user" class="imgavatar" src="{{item.profileImage}}">
          </span>
          <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </div>
    </div>
  </div>
</div>