.left-content {
  padding-left: 5rem !important;
}
.item-shadow {
  background-color: #fff;
  padding: 5px 10px;
  margin-top: 25px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  /* border-top-left-radius: 30px !important;
    box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}
.line-height {
  line-height: 2;
}
.right-content {
  padding-left: 0px;
  padding-right: 0px;
}
.header-request {
  text-align: center;
  height: 60px;
  padding: 17px 0px;
  font-size: 19px;
  font-weight: 500;
  background-color: #2196f3;
  color: #fff;
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -11px;
}
::ng-deep .mat-step-icon .mat-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
::ng-deep .mat-step-icon {
  height: 40px !important;
  width: 40px !important;
}
::ng-deep .mat-vertical-content-container {
  margin-left: 44px !important;
}
::ng-deep .mat-step-label-selected {
  font-size: 20px !important;
}
.member-request-item {
  padding: 5px;
  margin-top: 10px;
}
.member-request-item .member-avatar {
  margin-top: 0px;
}
.member-request-item:hover {
  background: rgba(0, 0, 0, 0.04);
}
.text-mute {
  line-height: 5px;
}
.member-request-item .infor-text-item {
  line-height: 5px;
}
.member-avatar {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  margin-top: 15px;
}
.imgavatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid white;
}
.infor-text-item {
  font-size: 14px;
}
.member-request-item .infor-text-item {
  line-height: 5px;
}
.btn-request-control .mat-icon-button {
  width: 25px !important;
  height: 25px !important;
  margin-right: 5px;
}
.btn-request-control .material-icons {
  width: 20px;
  height: 40px;
  font-size: 20px;
}
.information {
  background-color: #fff;
  /* box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-top-left-radius: 30px; */
  padding: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  margin-right: 4em;
}
.infor-price {
  padding-top: 10px;
}
.join-request {
  text-align: center;
  margin: 10px 0px;
  margin-bottom: 20px;
}
.join-request button {
  width: 100%;
  border-radius: 0px;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
}
.infor-item-left {
  margin-left: 5px;
}
.infor-text-item {
  font-size: 14px;
}
.member-request-item .infor-text-item {
  line-height: 5px;
}
.num-member-text {
  font-size: 26px;
  font-weight: 500;
  color: #2395f3;
}
.row {
  width: 100%;
}
