<div>
  <app-post-filter [showTimePeriod]="showTimePeriod" [showTopic]="showTopic" (filtered)="submitFilter($event)">
  </app-post-filter>
</div>

<app-list-post-horizontal [isLoading]="isPreLoading" [listType]="articleDisplay.typeArticle" [posts]="articleDisplay.items" [rowSize]="1">
</app-list-post-horizontal>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="200" (scrolled)="onScroll()"></div>

<div *ngIf="isLoading && articleDisplay.items &&  articleDisplay.items.length > 0">
  <div class="loading-dots">
    <h1 class="dot one">.</h1>
    <h1 class="dot two">.</h1>
    <h1 class="dot three">.</h1>
  </div>
</div>


<div *ngIf="isScrollTopShow" class="scroll-top">
  <button (click)="gotoTop()" mat-fab color="primary">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>