<div class="button-filter-container">
  <div class="button-filter" *ngIf="articleDisplay.items && articleDisplay.items.length > 0">
    <button mat-menu-item (click)="toggleFilter()">
      <mat-icon>tune</mat-icon>
      <span><b>LỌC</b></span>
    </button>
  </div>
  <div class="filter-body" *ngIf="isDisplayFilter">
    <div class="filter-section">
      <div><b>NGÀY ĐĂNG</b></div>
      <mat-button-toggle-group #timePeriod="matButtonToggleGroup" name="timePeriod" aria-label="Font Style"
        [value]="postFilter.timePeriod" (change)="onButtonToggleChange(timePeriod.value)">
        <mat-button-toggle value="today">Hôm nay</mat-button-toggle>
        <mat-button-toggle value="this_week">Tuần này</mat-button-toggle>
        <mat-button-toggle value="this_month">Tháng này</mat-button-toggle>
        <mat-button-toggle value="this_year">Năm nay</mat-button-toggle>
        <mat-button-toggle value="all_time">Tất cả</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="filter-section">
      <div><b>CHỦ ĐỀ</b></div>
      <div class="topic-checbox-item" *ngFor="let topic of topics">
        <mat-checkbox color="primary" [(ngModel)]="isCheckedDict[topic.id]" (click)="onCheckboxToggleChange(topic.id)">
          {{topic.name}}</mat-checkbox>
      </div>
    </div>
    <div class="filter-ok-button">
      <button mat-button (click)="submitFilter()">Xong</button>
    </div>
  </div>
</div>

<app-list-post-horizontal [listType]="articleDisplay.typeArticle" [posts]="articleDisplay.items" [rowSize]="1">
</app-list-post-horizontal>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="200" (scrolled)="onScroll()"></div>

<div *ngIf="isLoading && articleDisplay.items &&  articleDisplay.items.length > 0">
  <div class="loading-dots">
    <h1 class="dot one">.</h1>
    <h1 class="dot two">.</h1>
    <h1 class="dot three">.</h1>
  </div>
</div>


<div *ngIf="isScrollTopShow" class="scroll-top">
  <button (click)="gotoTop()" mat-fab color="primary">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>