<div class="title-message-notification">Tin nhắn</div>
<div>
  <div *ngIf="conversations.length == 0">
    <div class="item-menu no-conversation">Bạn không có tin nhắn nào gần đây</div>
  </div>

  <div *ngIf="conversations.length > 0">
    <div class="item-menu" *ngFor="let item of conversations" (click)="onClickConversation(item)">
      <div class="avatar">
        <img src="{{item.avatar}}">
      </div>
      <div class="content">
        <div class="username" matTooltip="{{item.name.length > 30 ? item.name : ''}}">{{item.name.length > 30 ? item.name.substring(0,25)+'...' :item.name}}</div>
        <div [ngClass]="{'content-message': true, 'bold': item.seenIds.indexOf(user.id) === -1}"
        [innerHtml]="isImage(item.lastMessage.content) ? '' : item.lastMessage.content"></div>
        <div class="time">{{item.lastMessage.time | customDate}}</div>
      </div>
    </div>
    <div class="bottom-info">
      <a href="tin-nhan">Xem tất cả</a>
    </div>
  </div>

</div>