/* common */
div {
    box-sizing: border-box;
}

.use-page-container {
    background-color: #fff;
    padding: 30px;
    position: relative;
}

/* search */
.search-section {
    margin-bottom: 30px;
}

.search-section input {
    padding: 20px 40px;
    height: 50px;
}

.search-section .search-icon {
    position: absolute;
    color: #2196f3;
    margin: 12px;
}

::ng-deep .search-section input:focus {
    border: 2px solid #2196f3 !important;
    box-shadow: none !important;
}

.search-button {
    background-color: #2196f3;
    color: #fff;
    height: 48px;
    font-weight: 500;
    padding: 12px 40px;
}

.search-button:focus {
    box-shadow: none;
}

/* list users */
.user-item {
    border-bottom: solid 1px #ccc;
    position: relative;
}

.user-item .option-icon {
    position: absolute;
    right: 10px;
    top: 48px;
    color: #666;
    cursor: pointer;
}

.text-banned {
    position: absolute;
    color: #ed4035;
    right: 80px;
    top: 45px;
    font-size: 20px;
    font-weight: 500;
}

.loading-dots {
    text-align: center;
    z-index: 5;
    font-family: "Roboto", "Open Sans", sans-serif;
    /* background-color: #272727; */
    color: #68afff;
}
.loading-dots .dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    /* top: -1em; */
    font-size: 4.5em;
    opacity: 0;
    -webkit-animation: showHideDot 1.5s ease-in-out infinite;
            animation: showHideDot 1.5s ease-in-out infinite;
}
.loading-dots .dot.one {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}
.loading-dots .dot.two {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.loading-dots .dot.three {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

@-webkit-keyframes showHideDot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showHideDot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}