.no-result {
    color: #888;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.list-post-container {
    margin: 0% -1%;
}

.list-post-container::after {
    content: "";
    display: block;
    clear: both;
}

.post-container {
    float: left;
    margin: 20px 1%;
}

.post-container-1 {
    width: 98%;
}

.post-container-2 {
    width: 48%;
}

.post-container-3 {
    width: 31.33%;
}

.post-container-4 {
    width: 23%;
}

@media only screen and (max-width: 960px) {
    .post-container {
        width: 48% !important;
    }
}

@media only screen and (max-width: 720px) {
    .post-container {
        width: 98% !important;
    }
}
