<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="logo">
    <img src="../../../../assets/trip share logo-01.png">
  </div>
  <div *ngIf="account !== null && account.role === 'admin'" class="avatar-container">
    <span class="name-user">Hi, {{user.displayName}}</span>
    <button class="m-r-5 mat-icon-button">
      <img class="img-circle" src="{{user.avatar}}">
    </button>
  </div>
  <div *ngIf="account !== null && account.role === 'admin'" class="user-menu">
    <button aria-haspopup="true" class="m-r-5 mat-icon-button" mat-icon-button="" [matMenuTriggerFor]="menuProfile">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #menuProfile="matMenu">
      <button routerLink="/doi-mat-khau" mat-menu-item>
        <mat-icon>cached</mat-icon>
        Đổi mật khẩu
      </button>
      <button (click)="signOut()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Đăng xuất
      </button>
    </mat-menu>
  </div>
</nav>