<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="logo">
    <img src="../../../../assets/trip share logo-01.png">
  </div>
  <div class="avatar-container">
    <span class="name-user">Hi, {{name}}</span>
    <button class="m-r-5 mat-icon-button">
      <img class="img-circle" src="{{urlImgavatar}}">
    </button>
  </div>

  <div class="user-menu">
    <button aria-haspopup="true" class="m-r-5 mat-icon-button" mat-icon-button="" [matMenuTriggerFor]="menuProfile">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #menuProfile="matMenu">
        <button class="options" (click)="gotoPersonalPage()" mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          Trang cá nhân
        </button>
        <button routerLink="/doi-mat-khau" mat-menu-item>
          <mat-icon>cached</mat-icon>
          Đổi mật khẩu
        </button>
        <button (click)="signOut()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Đăng xuất
        </button>
      </mat-menu>
  </div>
</nav>