.bg-dark {
    background-color: #2196f3 !important;
    position: relative;
}

.logo{
    width: 180px;
      vertical-align: middle;
      height: 35px;
  }
  
  .imgavatar{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid white;
  }

  .avatar-image {
    position: absolute;
    right: 2%;
    top: 3px;
  }

  .name-user{
    color: white;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
  }