<div class="create-companion-popup">
  <div class="panel-popup p-2 primary-color">
    <div class="pt-2 pl-3">
      <mat-icon>directions_run</mat-icon>
    </div>
    <div class="pt-2 pl-1">
      <span>{{ data.edit ? 'Chỉnh sửa lịch trình' : 'Thêm một lịch trình cho chuyến đi'}}</span>
    </div>
  </div>
  <div class="btn-close">
    <button mat-icon-button (click)="onClose()" class="close-button-icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="clear"></div>
  <div class="content-popup">
    <div class="input-title">
      <h5 class="">Tiêu đề</h5>
      <div class="d-flex flex-column">
        <mat-form-field hintLabel="Không quá 100 kí tự" appearance="outline">
          <mat-label>Nhập tiều đề của lịch trình</mat-label>
          <input [(ngModel)]="scheduleTitle" matInput #input maxlength="100" placeholder="Nhập tiêu đề của lịch trình">
          <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <h5 class="mt-2">Thời gian</h5>
    <div>
      <mat-form-field hintLabel="Yêu cầu ngày trong lịch trình" appearance="outline">
        <mat-label>Chọn ngày</mat-label>
        <input matInput [(ngModel)]="scheduleDate" [min]="data.minDate" [max]="data.maxDate" [matDatepicker]="picker" placeholder="Chọn ngày" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <h5 class="mt-2">Mô tả</h5>
      <div class="d-flex flex-column">
        <mat-form-field hintLabel="Không quá 500 kí tự" appearance="outline">
          <mat-label>Nhập nội dung lịch trình</mat-label>
          <textarea #txtarea [(ngModel)]="scheduleNote" rows="7" matInput maxlength="500"
            placeholder="Nhập nội dung lịch trình"></textarea>
          <mat-hint align="end">{{txtarea.value?.length || 0}}/500</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="btn-create mr-5">
    <button (click)="onCreate()" mat-raised-button color="primary">{{data.isUpdate ? 'Lưu' : 'Tạo' }}</button>
  </div>
</div>