<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Ngày sinh: {{user.dob}}</p>
    <p>Giới tính: {{gender}}</p>
    <p>Địa chỉ: {{user.address}}</p>
    <p>{{user.followerCount}} người theo dõi</p>
    <p>{{user.followingCount}} người đang theo dõi</p>
  </mat-card-content>
</mat-card>