<div class="user-follow">
  <div class="avatar">
    <img src="{{imgAvatar}}">
  </div>
  <div class="content">
    <div (click)="gotoPersionalPage(user.id)" class="display-name">{{user.displayName}}</div>
    <div class="username">@{{user.userName}}</div>
    <div class="address"><i class="fa fa-tag"></i><span style="padding-left: 1px;">{{user.address}}</span></div>
    <div class="number-follow"><span style="padding-right: 1px;">{{user.followingCount}}</span> lượt theo dõi</div>
    <div *ngIf="checkBlocked" class="icon-remove">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeBlocked(user.id)">
          <mat-icon>remove</mat-icon>
          <span>Bỏ chặn</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>