<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
    <div *ngIf="checkBlocked" class="icon-remove">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeBlocked(user.id)">
          <mat-icon>remove</mat-icon>
          <span>Bỏ chặn</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>Điểm: {{user.contributionPoint}}</p>
    <p>Giới tính: {{gender}}</p>
    <p>Địa chỉ: {{user.address}}</p>
    <p>{{user.followerCount}} người theo dõi</p>
    <p>{{user.followingCount}} người đang theo dõi</p>
  </mat-card-content>
</mat-card>