<mat-card class="mat-card">
  <mat-sidenav-container class="mat-drawer-container">
    <mat-sidenav #drawer class="mat-drawer mat-sidenav mat-drawer-side" mode="side" opened="true" position="start">
      <div class="mat-drawer-inner-container">
        <mat-toolbar class="mat-toolbar-single-row">
          <div>
            <span>
              <img class="img-circle" src="{{user.avatar}}">
              <span>{{user.displayName}}</span>
            </span>
          </div>
        </mat-toolbar>
        <mat-nav-list>
          <div *ngFor="let conv of listConversations">
            <mat-list-item
              [ngClass]="{'chat-user-item': true, 'user-item-selected': conv.id == selectedConversation.id}"
              (click)="onClickUserItem(conv)">
              <img class="mat-list-avatar" src="{{conv.avatar}}">
              <div class="mat-list-text">
                <h3 class="mat-line" matline="">{{conv.name}}</h3>
                <p class="text text-muted mat-line" matline="">
                  {{isImage(conv.lastMessage.content) ? '' : conv.lastMessage.content}}
                </p>
              </div>
            </mat-list-item>
          </div>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="mat-drawer-content">
      <!-- chat-header -->
      <mat-toolbar class="mat-toolbar-single-row">
        <div>
          <button class="mat-icon-button" (click)="drawer.toggle()">
            <span class="mat-button-wrapper">
              <mat-icon>short_text</mat-icon>
            </span>
          </button>
          <span>
            <img class="img-circle" src="{{selectedConversation.avatar}}">
            {{selectedConversation.name}}
          </span>
        </div>
      </mat-toolbar>

      <!-- chat-content -->
      <mat-card-content class="chat-middle-box">
        <div class="row">
          <div class="col-lg-9">
            <div #chatContainer [scrollTop]="scrollTop" class="chat-content-container"
              [style.height.px]="chatContentHeight">
              <div *ngFor="let message of selectedConversation.messages">
                <div *ngIf="user.id != message.fromUserId" class="chat-list odd">
                  <div class="chat-message">
                    <div class="chat-block">
                      <span>
                        <img class="img-circle" src="{{getProfileImage(message.fromUserId)}}">
                      </span>
                      <span [ngClass]="{'text': true, 'text-message': true, 'no-padding': isImage(message.content)}"
                        [innerHtml]="message.content"></span>
                    </div>
                    <span class="chat-date text-muted">{{message.time | customDate}}</span>
                  </div>
                </div>
                <div *ngIf="user.id == message.fromUserId" class="chat-list even">
                  <div class="chat-message">
                    <div class="chat-block">
                      <span [ngClass]="{'text': true, 'text-message': true, 'no-padding': isImage(message.content)}"
                        [innerHtml]="message.content"></span>
                    </div>
                    <span class="chat-date text-muted">{{message.time | customDate}}</span>
                  </div>
                </div>
              </div>

            </div>
            <!-- chat-footer -->
            <mat-card-actions class="chat-footer">
              <div class="chat-input-message">
                <button class="btn-add-image " mat-icon-button matTooltip="Thêm ảnh" (click)="imageInput.click()">
                  <mat-icon>add_photo_alternate</mat-icon>
                  <input #imageInput class="display-none" type="file" accept="image/*"
                    (change)="processImage(imageInput)">
                </button>
                <input class="form-control" placeholder="Nhập tin nhắn..." autocomplete="off" [(ngModel)]="inputMessage"
                  (keyup.enter)="sendMessage(inputMessage)" (focus)="seenConversation()" />
                <button mat-icon-button color="primary" class="button-send float-right"
                  (click)="sendMessage(inputMessage)">
                  <mat-icon color="primary">send</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </div>

          <div class="col-lg-3 d-none d-lg-block d-xl-block chat-info-container">
            <!-- avatar -->
            <div class="avatar-section">
              <div>
                <img src="{{selectedConversation.avatar}}" alt="" class="img-circle-lg">
              </div>
              <div>
                <span class="user-display-name">{{selectedConversation.name}}</span>
              </div>
            </div>
            <div class="options-section">
              <!-- Expansion panel -->

              <!-- Thông tin -->
              <mat-accordion *ngIf="selectedUser && selectedConversation.type=='private'">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Thông tin
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    <mat-icon>person</mat-icon>
                    @{{selectedUser.userName}}
                  </p>
                  <p>
                    <mat-icon>offline_bolt</mat-icon>
                    <b>{{selectedUser.contributionPoint}}</b> điểm tích lũy
                  </p>
                  <p>
                    <mat-icon>rss_feed</mat-icon>
                    <b>{{selectedUser.followerCount}}</b> người theo dõi
                  </p>
                  <p *ngIf="selectedUser && selectedUser.address != ''">
                    <mat-icon>location_on</mat-icon>
                    {{selectedUser.address}}
                  </p>
                </mat-expansion-panel>
              </mat-accordion>

              <!-- Thao tác -->
              <mat-accordion [hidden]="selectedConversation.groupAdmin == user.id">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Thao tác
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <p *ngIf="selectedConversation.type=='private'" class="action-item">
                    <mat-icon>block</mat-icon>
                    Chặn người dùng
                  </p> -->
                  <p *ngIf="selectedConversation.type=='group' && selectedConversation.groupAdmin!=user.id" class="action-item"
                  (click)="leaveGroupChat(selectedConversation.id, user.id)">
                    <mat-icon>exit_to_app</mat-icon>
                    Rời nhóm
                  </p>
                </mat-expansion-panel>
              </mat-accordion>

              <!-- Mọi người -->
              <mat-accordion *ngIf="selectedConversation.type=='group'">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Mọi người
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list class="list-members">
                    <div *ngFor="let userItem of selectedConversation.users">
                      <mat-list-item class="chat-member-item">
                        <img class="mat-list-avatar" src="{{userItem.profileImage}}">
                        <div class="mat-list-text">
                          <h3 class="mat-line" matline="">{{userItem.displayName}}</h3>
                        </div>
                        <span class="icon-settings" [matMenuTriggerFor]="settingsMenu">
                          <mat-icon>more_vert</mat-icon>
                        </span>
                        <mat-menu #settingsMenu="matMenu">
                          <button mat-menu-item (click)="gotoUserPage(userItem)">Trang cá nhân</button>
                          <button mat-menu-item *ngIf="selectedConversation.groupAdmin == user.id && userItem.id !== user.id" (click)="removeMember(selectedConversation, userItem)">Xóa khỏi nhóm</button>
                        </mat-menu>
                      </mat-list-item>
                    </div>
                  </mat-nav-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </mat-card-content>


      <!--  -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>