<div class="forgot-page">
  <div class="form-forget">
    <h3>Quên mật khẩu</h3>
    <h5>Nhập email đăng ký, TripSharing.com sẽ gửi lại mật khẩu cho bạn!</h5>
    <form name="form" [formGroup]="form">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
          <div *ngIf="form.get('email').errors.required">Kiểm tra lại Email của bạn</div>
          <div *ngIf="form.get('email').errors.email">Kiểm tra lại Email của bạn</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="forgotPassword()">Tạo lại mật khẩu</button>
    </form>
    <span style="color: red">{{message}}</span>
  </div>
</div>