.forgot-page{
    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: url(https://gody.vn/public/v3/images/bg/br-register.jpg);
}
.form-forget{
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    margin: 10em 1em 0em 40em;
    height: auto;
    padding: 1em;
    display: inline-block;
    max-height: 250px;
}