<div class="forgot-page">
  <div class="form-forget">
    <div class="card">
      <div class="login-card-header">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Quên mật khẩu</strong>
        </h5>
      </div>

      <!--Card content-->
      <div class="card-body">

        <p>Nhập email đăng ký, Trip-Sharing.net sẽ gửi lại mật khẩu vào email cho bạn!</p>
        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center mt-2">

          <!-- Password -->
          <mat-form-field appearance="outline">
            <mat-label>Nhập email</mat-label>
            <input [(ngModel)]="email" formControlName="email" matInput placeholder="Nhập email" type="email">
            <mat-error *ngIf="hasError('email','required')">Email bắt buộc</mat-error>
            <mat-error *ngIf="hasError('email','email')">Email không hợp lệ</mat-error>
          </mat-form-field>

          <!-- Sign in button -->
          <button class="btn-sign-in" [disabled]="form.invalid || !form.valid" mat-flat-button color="primary"
            type="submit">
            Lấy lại mật khẩu
            <ng-container *ngIf="isLoading">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>
          </button>
          <mat-error *ngIf="hasErrorMessage">
            {{message}}
          </mat-error>
        </form>
        <!-- Form -->
      </div>
    </div>
  </div>
  <br class="clearleft" />
</div>