<div class="forgot-page">
  <div class="form-forget">
    <h3>Quên mật khẩu</h3>
    <p>Nhập email đăng ký, Trip-Sharing.net sẽ gửi lại mật khẩu cho bạn!</p>
    <form name="form" [formGroup]="form">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
          <div *ngIf="form.get('email').errors.required">Kiểm tra lại Email của bạn</div>
          <div *ngIf="form.get('email').errors.email">Kiểm tra lại Email của bạn</div>
        </div>
      </div>
      <span class="fail-message" >{{message}}</span>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="forgotPassword()">Tạo lại mật
        khẩu</button>
    </form>
  </div>
  <br class="clearleft" />
</div>