   .header{
        height: 4em;
        width: 100%;
        margin-bottom: 0.5em;
        background-color: gray;
    }
  
  .topnav {
    width: 45%;
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    height: 100%;
    padding: 0;
    }

    .topnav span{
      display: block;
    }
    
    .topnav li {
      border-right: 1px solid;
        margin-top: 0.7em;
        float: left;
        height:70%;
      }
    
    .topnav li a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
    }
    
    .topnav span{
      font-size: 0.9em;
    }
    .topnav li a:hover{color:#078171;}
   
    button[type=submit] {
        background-color:#078171;
        color: white;
        cursor: pointer;
        width: 7em;
        height: 2.5em;
        font-size: 1em;
        font-weight: bold;  
        border-radius: 0.5em;   
        border: none;
      }
      
     button[type=submit]:hover {
        background-color:#078171;
      }
  
  
  
    