.menu-spacer {
  flex: 1 1 auto;
}
.nav-left a{
  font-weight: bold;
}

.nav-top a{
  padding: 0px;
  border-right: 1px solid;
  padding: 1em;
}

.nav-left span{
  padding-left: 1em;
}

.nav-left :hover{
  background: #3f51b5 !important;
    color: #fff !important;
}

.nav-top :hover{
   background: lightblue !important;
    color:honeydew;
}

.nav-top span{
  display: block;
  margin-top: -0.5em;
}

.btn{
  margin-top: -1.5em;
  font-weight: bold;
  margin-left: 1em;
}

#usr{
  float: right;
  width: 30%;
  margin-top: 1.8em;
}