.menu-spacer {
  flex: 1 1 auto;
}

.nav-top a{
  font-weight: normal;
  text-decoration: none;
  border-right: 1px solid white;
  padding: 1em;
}

.nav-left span{
  padding-left: 1em;
}

.nav-left :hover{
  background: #3f51b5;
    color: #fff;
}

.fa :hover{
    background-color: none !important;
    color:red !important;
}

.nav-top span{
  display: block;
  margin-top: -0.5em;
}

.btn{
  margin-top: -1.5em;
  font-weight: normal;
  margin-left: 1em;
}

#usr{
  float: right;
  width: 30%;
  margin-top: 1.8em;
}

.hr-nav{
  height: 90%;
  border: 1px solid white;
}

