<div class="header">
        <ul class="topnav row">
          <li class="col-md-2"><a href="#"><i class="fa fa-plus-circle fa"></i><span>Đăng</span></a></li>
          <li class="col-md-2"><a href="#"><i class="fa fa-suitcase fa"></i><span>Chuyến đi</span></a></li>
          <li class="col-md-3"><a href="#"><i class="fa fa-envelope fa"></i><span>Hộp thư đến</span></a></li>
          <li class="col-md-2"><a href="#"><i class="fa fa-user fa"></i><span>Hồ sơ</span></a></li>
          <li class="col-md-3"><button type="submit" (click)="openDialogLoginForm()">Đăng Nhập</button></li>
        </ul>
</div>