<div class="interested-topic-admin">
  <div class="title">Danh sách tất cả các chủ đề bài viết</div>
  <div class="interestedtopic">
    <div class="topic" *ngFor="let eachtopic of listTopics">
      <img class="imageInterested" src="{{eachtopic.imgUrl}}" />
      <span class="name-topic">{{eachtopic.name}}</span>
      <div class="icon-edit">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="removeTopic(eachtopic.id)">
            <mat-icon>remove</mat-icon>
            <span>Xóa</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <button (click)= "showPopupAddTopic()" mat-button color="primary">Thêm chủ đề</button>
</div>