<div class="drawer-content-body-container">
  <div class="action-section">
    <button class="button-add" (click)= "addTopic()" mat-button color="primary">Thêm</button>
    <button [ngClass]="{'button-delete': true, 'disable-button': selectedTopics.length == 0}" 
    (click)= "removeTopics()" mat-button color="primary">Xóa</button>
  </div>
  
  <div class="interested-topic">
    <div *ngFor="let topic of listTopics" 
    [ngClass]="{'topic': true, 'topic-selected': isSelected(topic)}" 
    (click)="onClickTopic(topic)">
      <img class="image-interested" src="{{topic.imgUrl}}" />
      <span class="name-topic">{{topic.name}}</span>
    </div>
  </div>
  
</div>