<div class="form-add-topic">
  <div class="title">
    <span>Thêm chủ đề bài viết</span>
  </div>
  <div class="custom-file mb-3">
    <input #file type="file" class="custom-file-input" id="customFile" name="filename" accept='image/*'
      (change)="preview(file.files)">
    <label class="custom-file-label" for="customFile">Chọn ảnh</label>
  </div>
  <img [src]="topic.imgUrl" *ngIf="topic.imgUrl">
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Tên chủ đề" [(ngModel)]="topic.name">
  </mat-form-field>
  <span class="message">{{message}}</span>
  <button mat-button color="primary" (click)="addOrUpdateTopic()">Ok</button>
</div>