.form-add-topic{
    padding-bottom: 20px;
    position: relative;
}

.title{
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #2196f3;
    color: #fff;
}

.form-add-topic img{
    display: block;
    width: 80%;
    border: 1px solid gainsboro;
    margin: 0 auto;
    border-radius: 5px;
}

.example-form-field{
    margin-top: 10px;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.custom-file {
    display: block;
    width: 80%;    
    margin: 0 auto;
}

button{
    background-color: #2196f3;
    color: #fff !important;
    display: block;
    margin: auto;
}

.message{
    color: red;
    font-size: 15px;
    width: 80%;
    display: block;
    margin: 0 auto;
}