<div class="privacy-page">
  <h2 class="mb-4">Quy định sử dụng</h2>
  <p><b>
      Với việc sử dụng các thông tin, dịch vụ, sản phẩm
      trên website TringSharing.net, đồng nghĩa với việc bạn đã chấp nhận hoàn toàn các quy định sử dụng website dưới
      đây. Mời
      bạn vui lòng đọc kỹ các quy định sử dụng website dưới đây trước khi quyết định sử dụng thông tin, dịch vụ, sản
      phẩm của chúng tôi.</b></p>
  <div class="contentBlogPost">
    <p style="text-align: justify;"><strong><span style="font-size:15px; color: #D02028;">1. Đăng ký sử dụng và đăng
          nhập tài khoản</span></strong></p>
    <p style="text-align: justify;">Khi đăng ký sử dụng tài khoản trên TripSharing, người dùng cần cung cấp cho website các
      thông tin cá nhân chính xác, đầy đủ và mới nhất. Khi chọn mật khẩu cho tài khoản truy nhập, hãy chọn mật khẩu theo
      cách mà không ai có thể dễ dàng đoán được. Sau khi đăng ký, người dùng chịu trách nhiệm bảo quản mật khẩu và không
      nên tiết lộ mật khẩu cho bất cứ ai hoặc ủy quyền, cho phép bất cứ người nào sử dụng vào bất cứ mục đích nào. TripSharing
      sẽ luôn coi việc truy nhập và sử dụng các dịch vụ trên trang web bằng tên truy nhập và mật khẩu của một người nào
      đó như là việc truy nhập và sử dụng các dịch vụ bởi chính khách hàng đó, bất kể tên truy nhập và mật khẩu có thể
      được sử dụng bởi người khác mà chủ sở hữu không biết hoặc không cho phép. Nếu phát hiện ra bất cứ người nào biết
      mật khẩu hoặc sử dụng mật khẩu của mình để truy nhập và sử dụng các dịch vụ trên trang web, người dùng cần thông
      báo ngay lập tức cho chúng tôi và thay đổi mật khẩu hoặc yêu cầu website hỗ trợ cài đặt mật khẩu mới.</p>

    <p style="text-align: justify;"><strong><span style="font-size:15px; color: #D02028;">1.1. Quy định về nội dung Tên
          người dùng (Nick/Username)</span></strong></p>
    <ul>
      <li>Không được đặt nick theo tên các vị lãnh tụ của Việt Nam, các vị lãnh đạo của Nhà nước và các quan chức của
        Chính phủ, các danh nhân Việt Nam.</li>
      <li>Nghiêm cấm đặt tên nick đả kích thành viên khác, đặt tên nick có nội dung tục tĩu, phản cảm, không phù hợp
        thuần phong mỹ tục Việt Nam.</li>
      <li>Không sử dụng các nick gây nhầm lẫn khác</li>
      <li>Nghiêm cấm mạo danh người khác.</li>
    </ul>

    <p style="text-align: justify;"><strong><span style="font-size:15px; color: #D02028;">1.2. Quy định về Hình đại diện
          (Avatar)</span></strong></p>
    <ul>
      <li>Nghiêm cấm sử dụng những hình ảnh hoặc ngôn từ phản cảm mang hàm ý không tốt hay khiêu khích.</li>
      <li>Nghiêm cấm sử dụng hình ảnh hoặc ngôn từ có liên quan đến chính trị, pháp luật, tín ngưỡng, tôn giáo...</li>
      <li>Nghiêm cấm sử dụng hình ảnh cũng như tên tuổi của các vị Anh hùng dân tộc, tội phạm truy nã, tội phạm chiến
        tranh... làm avatar, chữ ký cũng như nickname sử dụng ở diễn đàn.</li>
      <li>Nghiêm cấm sử dụng avatar hay chữ ký nhằm mục đích tuyên truyền cho các nhóm làm phụ đề khác không phải
        TripSharing.vn dưới mọi hình thức.</li>
      <li>Nghiêm cấm sử dụng avatar hay chữ ký có nội dung nhạy cảm, kích dục, không lành mạnh... đi ngược với thuần
        phong mỹ tục của người Việt Nam.</li>
    </ul>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">2. Quy định về nội dung, hình
          thức viết bài</span></strong></p>
    <p style="text-align: justify;">Người sử dụng chịu trách nhiệm về bất cứ nội dung thông tin gửi lên hoặc truyền đi
      qua trang web của TripSharing và không được phép hoặc cho phép người khác tạo ra bất cứ sự khó chịu, phiền toái, quấy rầy
      nào đối với TripSharing cũng như đối với bất kỳ khách hàng hoặc người sử dụng khác.</p>
    <p style="text-align: justify;">Người dùng cam kết sử dụng trang web phù hợp với tất cả các luật và quy định hiện
      hành và đồng ý không sử dụng trang web để gửi lên, truyền đi, phân tán, liên kết các nội dung mà:</p>
    <ul>
      <li>Chứa các thông tin quảng cáo</li>
      <li>Vi phạm các luật, các quy định của Chính Phủ Việt nam.</li>
      <li>Vi phạm các quy định về bản quyền, nhãn hiệu, sở hữu trí tuệ, quyền sở hữu cá nhận.</li>
      <li>Chứa các thông tin có tính khiêu dâm, kích động, phỉ báng.</li>
      <li>Phá hoại tính an toàn, tính đồng nhất, các giao diện của trang web.</li>
    </ul>
    <p style="text-align: justify;">Bất cứ vi phạm nào đối với các quy định trên, TripSharing sẽ huỷ bỏ quyền sử dụng website
      của người vi phạm. Đồng thời tuỳ theo mức độ vi phạm mà người sử dụng sẽ phải chịu trách nhiệm trước pháp luật.
    </p>
    <p style="text-align: justify;"><strong>Các bài viết phải thoả mãn các điều kiện:</strong></p>
    <p style="text-align: justify;">a. Bài viết phải có thái độ hòa nhã, thân thiện. Nghiêm cấm tuyệt đối những bài viết
      mang tính khiêu khích, so sánh thần tượng theo hướng tiêu cực, cố ý gây mất đoàn kết trong diễn đàn, cố tình gây
      hiềm khích giữa các thành viên. Nghiêm cấm các hành vi chia rẽ dân tộc, đả kích vùng miền, xúi giục bạo lực, xã
      hội đen... Nghiêm cấm dùng ngôn từ tục tĩu, thóa mạ trong các thông tin tham gia.</p>
    <p style="text-align: justify;">b. Nghiêm cấm những từ ngữ thô tục, không phù hợp với thuần phong mỹ tục của dân
      tộc.</p>
    <p style="text-align: justify;">c. Nội dung viết phải dùng ngôn từ trong sáng, rõ ràng, đúng chính tả, nghiêm cấm
      mọi hình thức viết nhịu, viết tắt theo hình thức chat chit, ngôn ngữ tối nghĩa và spam thông tin trên diễn đàn.
    </p>
    <p style="text-align: justify;">d. Nghiêm cấm viết hoặc lan truyền trên diễn đàn hoặc từ diễn đàn những nội dung,
      đường dẫn... bài xích, bôi nhọ, làm mất danh dự người khác, xúc phạm và xâm phạm quyền lợi, uy tín, đời tư của các
      cá nhân hay thành viên khác.</p>
    <p style="text-align: justify;"><strong>Các bài viết vi phạm một trong các quy định dưới đây sẽ bị xoá và đánh dấu
        vi phạm:</strong></p>
    <p style="text-align: justify;">a. Chống lại nhà nước Cộng hòa xã hội chủ nghĩa Việt Nam; gây phương hại đến an ninh
      quốc gia, trật tự, an toàn xã hội; phá hoại khối đại đoàn kết toàn dân; tuyên truyền chiến tranh xâm lược; gây hận
      thù, mâu thuẫn giữa các dân tộc, sắc tộc, tôn giáo; tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ
      nạn xã hội, mê tín dị đoan; phá hoại thuần phong, mỹ tục của dân tộc.</p>
    <p style="text-align: justify;">b. Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí
      mật khác đã được pháp luật quy định;</p>
    <p style="text-align: justify;">c. Đưa các thông tin xuyên tạc, vu khống, xúc phạm uy tín của tổ chức; danh dự, nhân
      phẩm của công dân;</p>
    <p style="text-align: justify;">d. Lợi dụng Internet để quảng cáo, tuyên truyền, mua bán hàng hóa, dịch vụ thuộc
      danh mục cấm theo quy định của pháp luật.</p>
    <p style="text-align: justify;">e. Gây rối, phá hoại hệ thống thiết bị và cản trở trái pháp luật việc quản lý, cung
      cấp, sử dụng các dịch vụ Internet và thông tin điện tử trên Internet.</p>
    <p style="text-align: justify;">f. Đánh cắp và sử dụng trái phép mật khẩu, khoá mật mã và thông tin riêng của các tổ
      chức, cá nhân trên Internet</p>
    <p style="text-align: justify;">g. Tạo ra và cài đặt các chương trình virus máy tính, phần mềm gây hại để thực hiện
      một trong những hành vi thay đổi các tham số cài đặt của thiết bị số; thu thập thông tin của người khác; xóa bỏ,
      làm mất tác dụng của phần mềm bảo đảm an toàn, an ninh thông tin được cài đặt trên thiết bị số; ngăn chặn khả năng
      của người sử dụng xóa bỏ hoặc hạn chế sử dụng những phần mềm không cần thiết; chiếm đoạt quyền điều khiển thiết bị
      số; thay đổi, xóa bỏ thông tin lưu trữ trên thiết bị số; các hành vi xâm phạm quyền và lợi ích hợp pháp của người
      sử dụng</p>
    <p style="text-align: justify;">h. Sử dụng trái phép tài khoản cá nhân của thành viên khác;</p>
    <p style="text-align: justify;">i. Đánh cắp và sử dụng trái phép mật khẩu, khoá mật mã và thông tin riêng của thành
      viên khác trên TripSharing.vn. Gây cản trở hoặc có những hành vi đe dọa việc sử dụng bình thường tài khoản, mật khẩu của
      người sử dụng khác.</p>
    <p style="text-align: justify;">j. Lợi dụng trang thông tin điện tử cung cấp dịch vụ mạng xã hội trực tuyến để cung
      cấp, truyền đi hoặc đặt đường liên kết trực tiếp đến những thông tin vi phạm các quy định của pháp luật</p>
    <p style="text-align: justify;">k. Nghiêm cấm tổ chức các hình thức cá cược, cờ bạc hoặc các thỏa thuận liên quan
      đến tiền, hiện kim, hiện vật.</p>
    <p style="text-align: justify;">l. Tuyệt đối nghiêm cấm việc xúc phạm, nhạo báng người khác dưới bất kỳ hình thức
      nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc….).</p>
    <p style="text-align: justify;">m. Thành viên sẽ không gửi lên hoặc truyền phát bất kỳ thông tin bất hợp pháp, lừa
      gạt, bôi nhọ, sỉ nhục, tục tĩu, khiêu dâm, xúc phạm, đe dọa, lăng mạ, thù hận, kích động… hoặc trái với chuẩn mực
      đạo đức chung của xã hội thuộc bất kỳ loại nào. Những nội dung miêu tả tỉ mỉ những hành động dâm ô, bạo lực, giết
      người rùng rợn; đăng, phát các hình ảnh phản cảm, thiếu tính nhân văn; cung cấp nội dung, hình ảnh, tranh khỏa
      thân có tính chất kích dâm, thiếu thẩm mỹ, không phù hợp với thuần phong, mỹ tục Việt Nam sẽ bị cấm hoàn toàn.</p>
    <p style="text-align: justify;">n. Chúng tôi tôn trọng quyền tự do ngôn luận, nhưng cũng bảo lưu việc có toàn quyền
      lược bớt, hoặc xoá bỏ một phần hoặc toàn bộ các bài viết của bạn nếu xét thấy bài viết hoặc bất kỳ thông tin gì
      gửi lên vi phạm những điểm nêu trên, bất kể việc vi phạm đó là rõ ràng hay chỉ là hàm ý.</p>
    <p style="text-align: justify;">o. Nghiêm cấm tuyên truyền bất kỳ thông điệp nào mang tính quảng cáo, mời gọi, thư
      dây chuyền, cơ hội đầu tư hay bất kỳ dạng liên lạc có mục đích thương mại nào mà người dùng không mong muốn; thư
      rác hay tin nhắn rác, gửi hay chuyển các thông tin, phần mềm, hoặc các tài liệu khác bất kỳ, vi phạm hoặc xâm phạm
      các quyền của những người khác, trong đó bao gồm cả tài liệu xâm phạm đến quyền riêng tư hoặc công khai, hoặc tài
      liệu được bảo vệ bản quyền, tên thương mại hoặc quyền sở hữu khác, hoặc các sản phẩm phái sinh mà không được sự
      cho phép của người chủ sở hữu hoặc người có quyền hợp pháp.</p>
    <p style="text-align: justify;">p. Không chấp nhận việc mua bán tại diễn đàn. Nếu phát hiện những tài khoản vi phạm
      chúng tôi sẽ khóa tài khoản vĩnh viễn.</p>
    <p style="text-align: justify;">q. Không gửi hoặc truyền bất kỳ thông tin hoặc phần mềm nào không thuộc quyền sở hữu
      của bạn trừ khi đó là phần mềm được cung cấp miễn phí. Không sử dụng, cung cấp thông tin vi phạm các quy định về
      sở hữu trí tuệ, về giao dịch thương mại điện tử và các quy định khác của pháp luật hiện hành.</p>
    <p style="text-align: justify;">r. Tuyệt đối nghiêm cấm việc gửi hoặc đăng tải thông tin, phần mềm có đính kèm virus
      hoặc các thành phần gây hại khác.</p>
    <p style="text-align: justify;">s. Không xâm phạm, xâm nhập, tiếp cận, sử dụng hay tìm cách xâm phạm, xâm nhập, tiếp
      cận hoặc sử dụng bất kỳ phần nào trong máy chủ của chúng tôi, và/ hoặc bất kỳ khu vực dữ liệu nào nếu không được
      chúng tôi cho phép, nghiêm cấm các hành vi lợi dụng lỗi hệ thống để trục lợi cá nhân gây thiệt hại đến nhà cung
      cấp dịch vụ.</p>
    <p style="text-align: justify;">t. Không phá vỡ luồng thông tin bình thường trong một tương tác, tuyên bố có liên hệ
      hoặc đại diện cho một doanh nghiệp hoặc hiệp hội, thể chế hay tổ chức nào khác mà bạn không được uỷ quyền tuyên bố
      mối liên hệ đó nhằm mục đích trục lợi cá nhân gây sự nhầm lẫn đối với những bạn cùng tham gia diễn đàn. Bạn sẽ
      không tạo ra các thông tin giả mạo cá nhân, tổ chức, doanh nghiệp khác; thông tin sai sự thật xâm hại đến quyền và
      lợi ích hợp pháp của tổ chức, doanh nghiệp, cá nhân.</p>
    <p style="text-align: justify;">u. Không truyền bá tác phẩm báo chí, văn học, nghệ thuật, xuất bản phẩm vi phạm các
      quy định của pháp luật.</p>
    <p style="text-align: justify;">v. Tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để
      can thiệp vào hệ thống TripSharing.vn</p>
    <p style="text-align: justify;">w. Không được có bất kỳ hành vi nào nhằm đăng nhập trái phép hoặc tìm cách đăng nhập
      trái phép hoặc gây thiệt hại cho hệ thống máy chủ TripSharing.vn</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">3. Quyền thu thập và sử dụng
          thông tin</span></strong></p>
    <p style="text-align: justify;">Khi người dùng truy cập và sử dụng trang web, TripSharing có thể thu thập và lưu trữ các
      thông tin như các số liệu thống kê quá trình truy cập, các thông tin cá nhân cung cấp cho TripSharing khi đăng ký… Các
      thông tin cá nhân khách hàng cung cấp bao gồm họ tên, số điện thoại, địa chỉ email, địa chỉ chỗ ở… Chúng tôi có
      thể sử dụng các thông tin này vào việc lập kế hoạch, nghiên cứu, thiết kế và tuyên truyền các dịch vụ hoặc cung
      cấp thông tin cho các cơ quan pháp luật theo yêu cầu của Luật pháp hoặc của Toà án.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">4. Tuyên bố từ
          chối</span></strong></p>
    <p style="text-align: justify;">TripSharing có các biện pháp bảo mật cho trang web và các dịch vụ cung cấp. Tuy nhiên, TripSharing
      không thể đảm bảo tuyệt đối trang web khỏi các hành động phá hoại hoặc các loại virus từ Internet.</p>

    <p style="text-align: justify;">TripSharing không có bất cứ bảo đảm nào hoặc tuyên bố nào về tính chính xác hay hoàn thiện
      của bất kỳ thông tin nào trên website này. Định kỳ TripSharing sẽ bổ sung, thay đổi, cải tiến hoặc cập nhật các tính năng
      và thông tin trên website này mà không cần báo trước. Trong bất kỳ trường hợp nào, TripSharing sẽ không chịu trách nhiệm
      về bất cứ mất mát, thiệt hại, trách nhiệm mang lại do việc sử dụng thông tin từ website này, cũng như bất kỳ lỗi,
      thiếu sót, gián đoạn hoặc chậm trễ về các thông tin.</p>

    <p style="text-align: justify;">Việc sử dụng thông tin tại website này là hoàn toàn tùy thuộc vào rủi ro riêng của
      người sử dụng. Trong bất kỳ trường hợp nào, TripSharing hoặc các đại diện của mình sẽ không chịu trách nhiệm đối với bất
      kỳ thiệt hại trực tiếp, gián tiếp, ngẫu nhiên, đặc biệt hoặc tất yếu nào.</p>

    <p style="text-align: justify;">Trang web của TripSharing bao gồm các đường liên kết đến các trang web khác không thuộc
      quyền sở hữu hoặc kiểm soát của TripSharing hoặc chứa các thông tin do các bên thứ ba cung cấp. Do vậy, TripSharing không chịu
      trách nhiệm về các lỗi hoặc thiếu sót trong thông tin trích dẫn và các nội dung, quyền riêng tư, tính bảo mật của
      các trang web liên kết đến cũng như các thiệt hại nếu có khi người dùng truy nhập, sử dụng các trang web đó.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">5. Các thay đổi trên website
          TripSharing</span></strong></p>
    <p style="text-align: justify;">Chúng tôi có toàn quyền bổ sung, sửa đổi hay xóa bỏ bất kỳ thông tin nào cũng như
      thay đổi giao diện, sự trình bày, thành phần hoặc chức năng, nội dung của trang web này bao gồm bất kỳ khoản mục
      nào vào bất kì lúc nào mà không cần báo trước.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">6. Thay đổi quy
          định</span></strong></p>
    <p style="text-align: justify;">Chúng tôi có toàn quyền thay đổi quy định mà không cần báo trước. Với việc tiếp tục
      sử dụng TripSharing sau những sửa đổi đó, người dùng mặc nhiên đồng ý chấp hành các sửa đổi trong quy định.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">7. Cấm truy
          cập</span></strong></p>
    <p style="text-align: justify;">Chúng tôi có toàn quyền, vào mọi lúc, cấm hoặc từ chối truy cập của người dùng vào
      TripSharing hoặc bất kỳ phần nào của website ngay lập tức và không cần báo trước nếu chúng tôi cho rằng người dùng đã vi
      phạm bất cứ điều khoản nào trong bản Quy định này, hoặc việc cấm truy cập xuất phát từ nhận định của chúng tôi,
      khi chúng tôi cho rằng từ chối đó phù hợp và cần thiết trong thẩm quyền của chúng tôi.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">8. Thông tin của bên thứ
          ba</span></strong></p>
    <p style="text-align: justify;">Thông tin được cung cấp tại TripSharing có thể chứa thông tin từ bên thứ ba hoặc được chọn
      lọc từ các nguồn khác. Chúng tôi không chấp nhận bất cứ trách nhiệm nào về các thông tin mà chúng tôi đăng tải,
      người dùng sẽ sử dụng hoặc đặt niềm tin vào những thông tin đó với hiểu biết, trách nhiệm và nguy cơ của riêng
      người dùng.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">9. Bồi thường</span></strong>
    </p>
    <p style="text-align: justify;">Người dùng đồng ý bồi hoàn những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí (bao
      gồm cả án phí không giới hạn) có liên quan tới hoặc phát sinh từ sự vi phạm của người dùng đối với bất kỳ điều
      khoản nào trong Quy định sử dụng của TripSharing. Chúng tôi có thể, trong trường hợp xét thấy cần thiết, hoặc theo quy
      định của pháp luật tham gia tố tụng trước các khiếu kiện hoặc đàm phán để dàn xếp.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">10. Quyền sở hữu trí tuệ và
          các quyền khác</span></strong></p>
    <p style="text-align: justify;">Tất cả quyền sở hữu trí tuệ tồn tại trong website TripSharing đều thuộc về VNTIC JSC. Theo
      đó, tất cả các quyền hợp pháp đều được đảm bảo. Trừ phi được sự đồng ý của TripSharing, người dùng không được phép tải
      lên, gửi, xuất bản, tái sản xuất, truyền hoặc phân phát bằng bất cứ hình thức nào bất cứ thành phần nào của
      website TripSharing hoặc tạo ra những bản sửa đổi của nội dung cung cấp trong website TripSharing.</p>

    <p style="text-align: justify;">Tại các khu vực được phép đăng tải bài viết, người dùng có thể chia sẻ thông tin
      được phép dưới các định dạng chúng tôi mặc định và người dùng phải tự chịu trách nhiệm đối với các nội dung, thông
      tin, hình ảnh và bất kỳ sự chia sẻ nào khác của người dùng với cá nhân người sử dụng hoặc nhóm người sử dụng.</p>

    <p style="text-align: justify;">Tuy nhiên, trong mọi trường hợp, chúng tôi vẫn được bảo lưu quyền xử lý các thông
      tin đăng tải cho phù hợp với thuần phong mỹ tục, các quy tắc đạo đức và các quy tắc đảm bảo an ninh quốc gia, và
      chúng tôi có toàn quyền cho phép hoặc không cho phép bài viết của người dùng xuất hiện hay tồn tại trên diễn đàn
      hoặc tại các khu vực được phép chia sẻ thông tin.</p>

    <p style="text-align: justify;">Quyền sở hữu khác, nội dung của website, và hàng hóa hoặc dịch vụ được cung cấp mà
      chúng tôi có trong website TripSharing. Việc sử dụng quyền và sở hữu của chúng tôi cần phải được chúng tôi cho phép trước
      bằng văn bản. Ngoài việc cấp phép bằng văn bản, chúng tôi không cấp phép dưới bất kỳ hình thức nào khác cho dù đó
      là hình thức công bố hay hàm ý, hoặc thông qua việc để người dùng sử dụng dịch vụ. Và do vậy, người dùng không có
      quyền sử dụng website hoặc dịch vụ của chúng tôi vào mục đích thương mại mà không có sự cho phép bằng văn bản của
      chúng tôi trước đó.</p>

    <p style="text-align: justify;">Người dùng đồng ý để chúng tôi tự do sử dụng, tiết lộ, áp dụng và sửa đổi bất kỳ ý
      tưởng, khái niệm, cách thức, đề xuất, gợi ý, bình luận hoặc hình thức thông báo nào khác mà người dùng cung cấp
      cho chúng tôi có liên quan tới TripSharing một cách hoàn toàn miễn phí.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">11. Cung cấp nội dung trên
          TripSharing</span></strong></p>
    <p style="text-align: justify;">Người dùng đồng ý trao cho chúng tôi toàn bộ quyền và cấp phép (bao gồm cả các quyền
      về tinh thần hay các quyền cần thiết khác) để sử dụng, trưng bày, tái sản xuất, chỉnh sửa, xuất bản, cung cấp, xúc
      tiến, dịch và tạo ra các phiên bản tổ hợp khác, một phần hoặc toàn bộ, trên phạm vi toàn cầu mà không đòi hỏi thù
      lao. Sự cấp phép này được áp dụng với bất cứ dạng thức, phương tiện, công nghệ nào đã được biết đến hoặc phát
      triển sau này; người dùng cần lưu ý rằng, các bài viết (post) trên diễn đàn, hoặc tại các khu vực được phép có thể
      tiếp tục nằm trên website của chúng tôi ngay cả khi tài khoản của người dùng đã bị xóa vì bất kỳ lý do gì.</p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">12. Giới hạn trách nhiệm pháp
          lý và bảo đảm</span></strong></p>
    <p style="text-align: justify;">Tất cả thông tin chỉ dành cho việc tham khảo tổng quát của người dùng. TripSharing không
      nhận bất cứ trách nhiệm nào về những thông tin đó.</p>

    <p style="text-align: justify;">Việc truy cập và sử dụng website TripSharing do người dùng hoàn toàn tự chịu trách nhiệm và
      được cung cấp như hiện có. TripSharing chỉ dành cho mục đích sử dụng cá nhân và chúng tôi không đại diện cho hoặc bảo đảm
      về bất cứ điều gì, được phát ngôn cụ thể hay hàm ý cho bất cứ mục đích cụ thể nào.</p>

    <p style="text-align: justify;">Người dùng hành xử và tin tưởng hoàn toàn vào kỹ năng và khả năng đánh giá của chính
      người dùng đối với việc sử dụng và cách hiểu đối với thông tin người dùng có được tại TripSharing. Người dùng chịu trách
      nhiệm đảm bảo rằng việc sử dụng thông tin của người dùng tuân thủ tất cả các yêu cầu của pháp luật hiện hành.</p>

    <p style="text-align: justify;">Giới hạn nghĩa vụ pháp lý trong Quy định sẽ được áp dụng với quy mô đầy đủ nhất được
      pháp luật hiện hành cho phép.</p>


    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">13. Thông báo về Quyền tác
          giả</span></strong></p>
    <p style="text-align: justify;">Nếu người dùng cho rằng quyền sở hữu của người dùng đã bị sử dụng theo những cách
      thức vi phạm quyền tác giả, người dùng có thể liên hệ với nhân viên phụ trách vấn đề bản quyền của chúng tôi tại
      địa chỉ: <strong>info@TripSharing.vn.</strong></p>



    <p style="text-align: justify;"><strong><span style="font-size: 15px;color: #D02028;">14. Luật áp
          dụng</span></strong></p>
    <p style="text-align: justify;">Người dùng đồng ý rằng bản Quy định sử dụng và bất kỳ bất đồng nào phát sinh từ việc
      người dùng sử dụng website này hoặc các sản phẩm và dịch vụ của chúng tôi sẽ được giải quyết theo luật pháp hiện
      hành của Nước Cộng hoà Xã hội Chủ nghĩa Việt Nam. Thông qua việc đăng ký hoặc sử dụng website và dịch vụ của chúng
      tôi, người dùng mặc nhiên đồng ý và tuân thủ toàn bộ các quy định của Luật pháp Việt Nam.</p>

  </div>

</div>