<div class="allinterested">
  <!-- <h5 id="title">Chọn tất cả các chủ đề mà bạn muốn đọc</h5> -->
  <div class="interestedtopic" >
    <div (click)="onSelectToppic(eachtopic)" [class]=" IsChecked(eachtopic) ? 'topic-active':'topic-disable'"  
    *ngFor="let eachtopic of listinterestedtopic">
      <span class="nametopic">{{eachtopic.topicName}}</span>
      <img class="imageInterested" src="{{eachtopic.topicImage}}" />
    </div>
  </div>
  <!-- <button (click)="Toppics()" type="submit" class="btn btn-primary">Tiếp tục</button> -->
</div>