.form-add-topic{
    margin: -24px;
}

.title{
    font-size: 16px;
    border-bottom: 1px solid gainsboro;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-add-topic img{
    display: block;
    width: 80%;
    height: 250px;
    border: 1px solid gainsboro;
    margin: 0 auto;
    border-radius: 5px;
}

.example-form-field{
    margin-top: 10px;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.custom-file {
    display: block;
    width: 80%;    
    margin: 0 auto;
}

button{
    border: 1px solid #2196f3 !important;
    float: right;
    margin-right: 50px;
}

.message{
    color: red;
    font-size: 15px;
    width: 80%;
    display: block;
    margin: 0 auto;
}