.mat-drawer-content {
    height: 100vh;
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.mat-icon {
    margin-right: 10px;
}

.mat-menu-panel {
    margin-left: 150px !important;
    margin-top: -48px !important;
}
.mat-drawer {
    width: 190px !important;
}