<app-header-admin></app-header-admin>
<div class="container-fluid">
  <mat-sidenav-container class="mat-drawer-container">
    <mat-sidenav #drawer class="mat-drawer mat-sidenav mat-drawer-side" mode="side" opened="true" position="start">
      <div class="mat-drawer-inner-container">
        <mat-toolbar>
          Dashboard
        </mat-toolbar>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon>dashboard</mat-icon><span>Overview</span>
          </mat-list-item>
          <mat-list-item>
              <mat-icon>list_alt</mat-icon><span>Chủ đề</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>person</mat-icon><span>Người dùng</span>
          </mat-list-item>
          <mat-list-item [matMenuTriggerFor]="reportMenu">
              <mat-icon>report</mat-icon><span>Báo cáo</span>
            <mat-menu #reportMenu="matMenu">
              <button mat-menu-item> <mat-icon>person</mat-icon>Người dùng</button>
              <button mat-menu-item><mat-icon>list_alt</mat-icon>Bài đăng</button>
              <button mat-menu-item><mat-icon>comment</mat-icon>Bình luận</button>
            </mat-menu>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="mat-drawer-content">
      content
      content
      content
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>