<div style="margin-bottom: 100px">
<p>
  google-map works!
</p>
<h1>{{ title }}</h1>
<div>
    <agm-map [latitude]="lat" [longitude]="lng" [fitBounds]="locationMarker.length > 1">
          <agm-marker [agmFitBounds]="true" *ngFor="let marker of locationMarker" [latitude]="marker.lattitude" [longitude]="marker.longtitude"></agm-marker>
    </agm-map>
</div>
<h3>Position</h3>
<div class="flext">
  <div class="ml-5" *ngFor="let location of locationMarker">
      <p>Localily: {{location.locality}}</p>
      <p>Latitude: {{location.lattitude}}</p>
      <p>Longitude: {{location.longtitude}}</p>
  </div>
</div>
<div class="input-container mt-5">
    <app-google-map-search width="500" height="50" (onSelect)="setAddress($event)"></app-google-map-search>
    <ul style="list-style-type: none;">
      <li *ngFor="let key of addrKeys">
        <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
      </li>
    </ul>
</div>
</div>