agm-map {
    height: 100%;
  }
  
.input-container {
    text-align: center; 
    width: 100%;
}

.google-place-input {
    width: 50%;
    min-width: 280px;
    height: 2rem; 
    font-size: 1.5rem; 
    padding: 0.5rem;
}
.flext{
    display: flex;
    border: 1px slategray;
}
.google-map{
    position: relative;
    width:100%;
    height: 100%;
}
.search-box{
    position: absolute;
    z-index: 1000;
    top:20px;
    right:10px;
}
.over-flow{
    position: absolute;
    z-index: 999;
    width: 100%;
    content: '';
    background: #131313;
    opacity: 0.4;
}