<p>
  google-map works!
</p>
<div>
  <button mat-button>click me!</button>
  <button mat-raised-button>Hello me</button>
</div>
<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button color="primary" disableRipple mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
<h1>{{ title }}</h1>
<div>
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
</div>