<div class="google-map">
  <div *ngIf="isFirstTime" [style.height.px]="heightMap" class="over-flow">
  </div>
  <div *ngIf="userRole === 'author'" class="search-box">
      <app-google-map-search width="100" height="30" matFill="true" (onSelect)="setAddress($event)"></app-google-map-search>
  </div>  
<div [style.height.px]="heightMap">
    <agm-map #gm [ngClass.gt-lg]="" [latitude]="lat" [longitude]="lng" [fitBounds]="fitBound()">
          <agm-marker [agmFitBounds]="true" *ngFor="let marker of locationMarker" 
          [label]=" {
            color: '#0000',
            fontWeight: 'bold',
            text: marker.name ? marker.name : ''
          }"
          [latitude]="marker.latitude"
          [longitude]="marker.longitude"
          (mouseOver)="onMouseOver(infoWindow,gm)">
          <agm-info-window [disableAutoPan]="false" #infoWindow>
            <div class="infor-place">
              <div class="place-image-bound">
                  <img src="{{marker.image}}">
              </div>              
               <div class="place-name">{{marker.name}}</div> 
            </div>
        </agm-info-window>

        </agm-marker>
    </agm-map>
</div>
</div>