.form-group {
  display: flex;
  border-radius: 6px;
}
.form-group .form-control {
  padding-right: 2.375rem;
  border-radius: 30px !important;
}
.form-control {
  height: 40px;
}

.form-group .form-control-icon {
  position: relative;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 40px;
  text-align: center;
  pointer-events: none;
  color: #80bdff;
  float: right;
  right: 45px;
}
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.full-size {
  /* width: 100%; */
  border-radius: 40px;
  display: -webkit-inline-box;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
.full-input {
  width: 100%;
}
.full-input .mat-form-field {
  display: block;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}
::ng-deep .pac-item {
  line-height: 50px;
}

.search-box{
  position: relative;
  /* transform: translate(-50%); */
}
.search-input {
  width: 250px;
  transition: 0.4s;
}
.search-box:hover > .search-input{
  width: 400px;
}
.search-title{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fdfdfd;
  padding: 13px;
  border-radius: 30px;
  z-index: 5;
}