<div class="content-post-page">
  <div class="title">
    <span>{{post.title}}</span>
  </div>
  <div class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" role="textbox"
    aria-label="Rich Text Editor, main" [innerHTML]="post.content">
  </div>
  <div class="comment text">
    <h3>Bình luận</h3>
    <div class="iconuser-textarea">

      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="text" [(ngModel)]="commentContent"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitComment()">Bình luận</button>

      <!-- Comment container include all comments -->
      <app-comment-container [comments]="comments"></app-comment-container>

    </div>
  </div>
  <div class="button-showcomment">
    <button type="button" class="btn btn-primary">Tải thêm bình luận</button>
  </div>

</div>
<div class="like-post">
  <button mat-fab color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>

<div class="book-mark">
  <button mat-fab color="primary">
    <mat-icon>bookmark</mat-icon>
  </button>
</div>

<div class="commet-material">
  <button mat-fab color="primary">
    <mat-icon>comment</mat-icon>
  </button>
</div>