.timeline-cover {
  position: relative;
}

.cover-image {
  max-height: 315px;
  width: 100%;
}
.profile-infor {
  position: absolute;
  bottom: -47px;
  margin-left: 10%;
  z-index: 9999;
}
.avatar-img {
  border-radius: 100%;
  max-width: 160px;
  border: 4px solid #fff;
}

.personal-name {
  color: white;
  padding-left: 30px;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  position: absolute;
  z-index: 999;
  bottom: 0px;
  margin-left: 22%;
}

.icon-block{
  margin-top: -36px;
  z-index: 9999;
  margin-left: 75%;
  color: black;
  position: absolute;
}

.content-post-page{
  width: 50% !important;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1em;
}

.title{
  width: 90%;
  height: 13%;
  margin-top: 1em !important;
  font-size: 1.5em;
  font-weight: bold;
}

.text{
  color: #3d3d3d;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 1em;
}

textarea{
  resize: none;
}

.text h3 {
  color: #06c;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.iconuser-textarea{
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.button-showcomment{
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-top: 1em;
  text-align: center;
}

.button-showcomment button{
  width: 80%;
}

.material-icons{
  width: 30px;
  height: 30px;
}

.icon-action{
  position: fixed;
  bottom: 40%;
  right: 12%;
  opacity: 0.5;
  display: inline-grid;  
  height: 150px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
}

.iconLike{
  color: #2196f3;
}

.iconUnLike{
  color:rgba(0, 0, 0, 0.87);
}

.icon-action button{
  border: none;
  background-color: snow;
}

.icon-action .mat-icon :hover{
  color: red !important;
}