.detail-post{
  width: 100%;
  height: 100%;
  line-height: 2;
}
.timeline-cover {
  position: relative;
}
.cover-image {
  max-height: 315px;
  width: 100%;
}
.profile-infor {
  position: absolute;
  bottom: -47px;
  margin-left: 10%;
  z-index: 9999;
}
.avatar-img {
  border-radius: 100%;
  max-width: 160px;
  border: 4px solid #fff;
  margin-top: -12em;
}
.a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.personal-name {
  color: black;
  padding-left: -25px;
  font-size: 24px;
  font-weight: 500;
  bottom: 0px;
  margin-left: 6%;
}

.content-post-page{
  width: 60% !important;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1em;
}

.title{
  width: 90%;
  height: 13%;
  margin-top: 1em !important;
  font-size: 1.5em;
  font-weight: bold;
}

.image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100% !important;
}

.text{
  color: #3d3d3d;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 1em;
}

.text p{
  font-size: 15px;
  line-height: 22px;
}

.text h3 {
  color: #06c;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.iconuser-textarea{
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.button-showcomment{
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-top: 1em;
  text-align: center;
}

.button-showcomment button{
  width: 80%;
}

.material-icons{
  transition: line-height 0.4s;
  width: 20px;
}
.mat-fab:hover{
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.mat-fab:hover .material-icons{
  line-height: 0;
}
.mat-button {
  padding: 0px 0px !important;
}
button:focus {
  outline: none;
  outline: none !important;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 25px;
  width: 25px;
}

.like-post {
  position: fixed;
  bottom: 50%;
  left: 70px;
}

.book-mark {
  position: fixed;
  bottom: 40%;
  left: 70px;
}

.commet-material{
  position: fixed;
  bottom: 30%;
  left: 70px;
}

.top-infor{
  padding: 0;
  margin: 0;
  width: 60%;
  margin: 0 auto;
  clear: both;
}

.like-number, .follow-number{
  padding: 0;
  margin: 0;
  color: black;
}

.number-like-follow{
  padding-top: 8px;
  font-weight: 500;
}

.mat-fab{
  width: 50px;
  height: 50px;
}
/*get property*/

.text-tiny {
  font-size: .7em;
}

.text-small {
  font-size: .85em;
}

.text-big {
  font-size: 1.4em;
}

.text-huge {
  font-size: 1.8em;
}

.marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}

.marker-green {
  background-color: var(--ck-highlight-marker-green);
}

.marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}

.marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}

.pen-red {
  color: var(--ck-highlight-pen-red);
}

.pen-green, .pen-red {
  background-color: transparent;
}

.detail-post blockquote{
  overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
    margin: 0 0 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin-bottom: var(--ck-spacing-large);
}

.image {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  margin: 1em 0;
  border-style: none;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.image img{
  width: 100%;
}

.detail-post table{
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px double #b3b3b3;
  color: #212529;
}

.detail-post td{
  min-width: 2em;
  padding: .4em;
  border-color: #d9d9d9
}