<div class="detail-post">
  <div class="timeline-cover">
    <div>
      <img class="cover-image" src="{{coverImage}}">
    </div>
    <div class="profile-infor">
      <div class="avatar-display">
        <a href="#"><img src="{{avatar}}" class="avatar-img"></a>
      </div>
    </div>
    <div class=" row top-infor">
        <a href="#" class="col-md-4"><span class="personal-name">Phong Nguyễn</span></a>
        <a href="#" class="col-md-3 number-like-follow"><span class="like-number"><i class="fa fa-sticky-note"></i>15 bài review</span></a>
        <a href="#" class="col-md-3 number-like-follow"><span class="follow-number"><i class="fa fa-user-plus"></i>500 người follow</span></a>
        <button class="col-md-2" mat-raised-button color="primary"><i style="color: white" class="fa fa-user-plus"></i>Theo dõi</button>
    </div>
   
  </div>

  <div class="content-post-page">
    <div class="title">
      <span>{{post.title}}</span>
    </div>
    <div class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
      role="textbox" aria-label="Rich Text Editor, main" [innerHTML]="post.content">
    </div>
    <div class="comment text">
      <h3>Bình luận</h3>
      <div class="iconuser-textarea">

        <!-- Comment container include all comments -->
        <app-comment-container [comments]="comments"></app-comment-container>

        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Bình luận</button>
      </div>
    </div>
    <div class="button-showcomment">
      <button type="button" class="btn btn-primary">Tải thêm bình luận</button>
    </div>

  </div>
  <div class="like-post">
    <button mat-fab color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
  </div>

  <div class="book-mark">
    <button mat-fab color="primary">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>

  <div class="commet-material">
      <button mat-fab color="primary">
        <mat-icon>comment</mat-icon>
      </button>
    </div>
</div>