.timeline-cover {
  position: relative;
}

.cover-image {
  max-height: 315px;
  width: 100%;
}
.profile-infor {
  position: absolute;
  bottom: 10px;
  right: 78%;
  z-index: 9999;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.profile-infor img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
}

.icon-block{
  margin-top: -36px;
  z-index: 9999;
  right: 20%;
  color: white;
  position: absolute;
}

.content-post-page{
  width: 55% !important;
  height: auto;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 1em;
}
.opacity{
  width: 100%;
  height: 50%;
  bottom: 16%;
  position: absolute;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.65) 12%,rgba(0,0,0,.65) 100%);
  opacity: .5;
}
.title-top{
  width: 100%;
  bottom: 21%;
  position: absolute;
}
.title-location{
  width: 55%;
  height: auto;
  margin: 0 auto;
  padding-left: 7px;
}
/* .short-content{
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
} */
.title{
  font-size: 26px;
  z-index: 9999;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.location{
  padding: 4px 5px 4px 6px;
  border: 1px solid #fff;
  display: inline;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  margin-left: 3px;
}

.location :hover{
  cursor: pointer;
}

.text{
  color: #3d3d3d;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 1em;
}

textarea{
  resize: none;
}

.text h3 {
  color: #2196f3;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.iconuser-textarea{
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.button-showcomment{
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-top: 1em;
  text-align: center;
}

.button-showcomment button{
  width: 80%;
}

.material-icons{
  width: 30px;
  height: 30px;
}

.icon-action{
  position: fixed;
  bottom: 40%;
  right: 12%;
  opacity: 0.5;
  display: inline-grid;  
  height: 150px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
}

.iconLike{
  color: #2196f3;
}

.iconUnLike{
  color:rgba(0, 0, 0, 0.87);
}

.icon-action button{
  border: none;
  background-color: snow;
}

.icon-action .mat-icon :hover{
  color: red !important;
}

.content-infor{
  width: 100%;
  border-bottom: 2px solid gainsboro;
  padding-bottom: 13px;
  padding-top: 13px;
}

.infor-author{
  height: auto;
  width: 55%;
  margin: 0 auto;
  padding-left: 10px;
}

.infor-author .personal-name {
  color: #2196f3;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  float: left;
}

.infor-author .time{
  color: #2196f3;
  font-size: 15px;
  display: inline-block;
  margin-left: 3%;
  float: left;
  margin-top: 8px;
}

.infor-author .btn-follow{
    color: #2196f3;
    font-size: 13px;
    line-height: 1.6;
    display: inline-block;
    border: 1px solid #2196f3;
    background-color: white;
    border-radius: 6px;
    padding: 4px;
    margin-left: 3%;
    cursor: pointer;
    width: 120px;
}

.btn-follow button{
  line-height: 17px;
  background-color: white;
  color: #3d3d3d;
}

.share,.like{
  margin-right: 10px;
  line-height: 1.6;
  font-size: 13px;
  background-color: #23527c;
  color: white;
  display: inline-block;
  float: right;
  border-radius: 5px;
  text-align: center;
  margin-top: 7px;
  padding: 1px 4px 1px 4px;
  cursor: pointer;
}

.clearleft{
  clear: left;
}