<div class="timeline-cover" #top>
  <div>
    <img class="cover-image" src="{{coverImage}}">
  </div>
  <div class="profile-infor">
    <div class="avatar-display">
      <a href="#"><img src="{{avatar}}" class="avatar-img"></a>
    </div>
  </div>
  <a href="#"><span class="personal-name">Trần Văn Phong</span></a>
  <div class="icon-block">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="blockUserById(userId)">
        <mat-icon>block</mat-icon>
        <span>Chặn người dùng</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="content-post-page">
  <div class="title">
    <span>{{post.title}}</span>
  </div>
  <div class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" role="textbox"
    aria-label="Rich Text Editor, main" [innerHTML]="post.content">
  </div>
  <div class="comment text">
    <h3>Bình luận</h3>
    <div class="iconuser-textarea" #target>

      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="text" [(ngModel)]="commentContent"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitComment()">Bình luận</button>

      <!-- Comment container include all comments -->
      <app-comment-container [comments]="comments"></app-comment-container>

    </div>
  </div>
  <div class="button-showcomment">
    <button type="button" class="btn btn-primary">Tải thêm bình luận</button>
  </div>
</div>
<div *ngIf="isScrollTopShow" class="icon-action">
  <button [class]="post.liked ? 'iconLike':'iconUnLike'" (click)="likePost(article.post.liked)">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button (click)="bookmarkPost(post.id,post.title,post.coverImage,post.postType)">
    <mat-icon [color]="bookmark?'primary':'grey'">bookmark</mat-icon>
  </button>
  <button (click)="commentPost(target)">
    <mat-icon>comment</mat-icon>
  </button>
  <button (click)="gotoTopPage(top)">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>