.form_wrapper {
  background: #fff;
  width: 320px;
  border-radius: 15px;
  padding: 15px;
  margin: 0 auto;
  border-top: 5px solid #2196f3;
  border-bottom: 5px solid #2196f3;
  height: auto;
  overflow: hidden;
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
}

.btn{
  margin-top: 10px;
  background-color: #2196f3;
  float: right;
  width: 100%;
  color: white;
  cursor: pointer;
}

input[type=text],input[type=password]:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.require{
  color: red;
}

.title{
  font-size: 15px;
  font-style: italic;
}

.form-control{
  height: 33px !important;
}

.form-group{
  margin-bottom: 15px;
}

.err-mess{
  color: red;
  font-size: 15px;
  font-style: italic;
}

.form-control.is-invalid{
  border-color: #dc3545 !important;
}

.input-gender{
  margin-left: 15px;
}
