<div class="">
  <div class="personal-page">
    <div class="timeline-cover">
      <div>
        <img class="cover-image" src="{{coverImage}}">
      </div>
      <div [class.fix-profile-avatar]="isFixMenuBar" class="profile-infor">
        <div class="avatar-display">
          <div class="avatar-image">
            <img src="{{user.avatar}}" class="avatar-img">
            <div *ngIf="usergetLocalStorage == null || userId == usergetLocalStorage.id" class="display-none" (click)="changeAvatar()">
              <div class="change-avatar">
              </div>
              <div class="btn-change-avatar">
                <mat-icon class="change-avatar-icon ">add_a_photo</mat-icon>
                <p class="btn-text">Cập nhập</p>
              </div>
              <app-upload-image width="60%" (croppedImage)="ImageCropted($event)" [aspectRatio]="1/1"
                [resizeToWidth]="1350" #uploadImage></app-upload-image>
            </div>
          </div>
        </div>
      </div>
      <a href="#"><span class="personal-name">{{user.displayName}}</span></a>
      <div class="opacity"></div>
      <div [hidden]="usergetLocalStorage == null || userId == usergetLocalStorage.id" class="follow-message-infor">
        <button class="btn-follow" mat-button (click)="followPerson(userId)">
          <mat-icon>rss_feed</mat-icon>
          <span *ngIf="follow == false">Theo dõi</span>
          <span *ngIf="follow == true">Đã Theo dõi</span>
        </button>
        <button class="btn-send-message" mat-button (click)="openSendMessagePopup()">
          <mat-icon>message</mat-icon>
          <span>Gửi tin nhắn</span>
        </button>
        <div class="icon-block">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="icon-more">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button [hidden]="isBlocked(userId)" mat-menu-item (click)="blockUserById(userId)">
              <mat-icon>block</mat-icon>
              <span>Chặn người dùng</span>
            </button>
            <button mat-menu-item (click)="reportUser(userId)">
              <mat-icon>report</mat-icon>
              <span>Báo cáo vi phạm</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div [class.fix-menu]="isFixMenuBar" class="row menu-nav">
      <div class="col-3 align-self-center menu-sub-avatar">
        <div [class.fix-sub-avatar]="isFixMenuBar" class="sub-avatar">
          <img src="{{user.avatar ? user.avatar : avatar }}" alt="">
          <span>{{user.displayName}}</span>
        </div>
      </div>
      <div>
        <div class="navlinks" *ngIf="isDisplayNav">
          <nav color="primary" mat-tab-nav-bar mat-align-tabs="left">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
              #rla="routerLinkActive" [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
        </div>
      </div>

    </div>
    <div [style.margin-top.px]="isFixMenuBar ? '61' : '20'" class="row personal-content">
      <div class="col-md-3 card-personal">
        <!-- Card 1-->
        <div class="card promoting-card">
          <div class="card-header">
            <span class="card-title">Thông tin</span>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Text -->
            <div class="card-person-infor">
              <a class="mat-button a-hover">
                <!-- <i class="fa fa-product-hunt"></i> -->
                <mat-icon class="align-middle">stars</mat-icon>
                <i class="fas fa-coins"></i>
                <span class="align-middle">Điểm tích lũy</span>
                <span class="align-middle"><b [appHighlight]="'#2196f3'"
                    [size]="'19px'">{{user.contributionPoint}}</b></span>
              </a>
            </div>
            <div [hidden]="gender == null" class="card-person-infor">
              <a class="mat-button">
                <i class="fa fa-venus-mars icon-size"></i>
                <span>Giới tính: {{gender}}</span>
              </a>
            </div>
            <div [hidden]="user.address == ''" class="card-person-infor">
              <a class="mat-button">
                <mat-icon class="align-middle">person_pin</mat-icon>
                <!-- <i class="fa fa-product-hunt"></i> -->
                <span class="align-middle">Đến từ: {{user.address}}</span>
              </a>
            </div>
            <div class="card-person-infor">
              <a (click)="showFolowerUser()" class="mat-button a-hover">
                <mat-icon class="align-middle">rss_feed</mat-icon>
                <span class="align-middle"><b [appHighlight]="'#2196f3'" [size]="'15px'">{{user.followerCount}}</b>
                  người đang theo dõi bạn</span>
              </a>
            </div>
            <div class="card-person-infor">
              <a (click)="showFollowingUser()" class="mat-button a-hover">
                <mat-icon class="align-middle">rss_feed</mat-icon>
                <span class="align-middle"><b [appHighlight]="'#2196f3'" [size]="'15px'">{{user.followingCount}}</b>
                  người bạn đang theo dõi</span>
              </a>
            </div>
          </div>

        </div>

        <!-- Card 1-->
        <!-- Card 2-->
        <div *ngIf="usergetLocalStorage == null || userId == usergetLocalStorage.id" class="card promoting-card">
          <div class="card-header">
            <span class="card-title">Tuỳ Chỉnh</span>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Text -->
            <div *ngIf="usergetLocalStorage == null || userId == usergetLocalStorage.id" class="card-person-infor">
              <a class="mat-button a-hover">
                <i class="fa fa-edit icon-size align-middle"></i>
                <span class="align-middle" (click)="callUpdateProfile()">Chỉnh sửa trang cá nhân</span>
              </a>
            </div>
            <div class="card-person-infor">
              <a (click)="gotoBookmarkList()" class="mat-button a-hover">
                <mat-icon class="align-middle">bookmark_border</mat-icon>
                <span class="align-middle">Bài viết đã lưu</span>
              </a>
            </div>
            <div (click)="showBlokUsers()" class="card-person-infor">
              <a class="mat-button a-hover">
                <mat-icon class="align-middle">block</mat-icon>
                <span class="align-middle">Danh sách chặn</span>
              </a>
            </div>
          </div>

        </div>

        <!-- Card 2 -->
      </div>
      <div class="col-md-6 mb-5">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>