.signle-comment {
    margin-left: 24px;
    margin-top: 20px;
}
.comment-post{
    margin: 0 auto;
    width: 100%;
    height:auto;
    margin-bottom: 1em;
    position: relative;
}
.icon-user-name {
    display: inline;
    padding: 0;
}
.icon-user-name > div{
    float: left
}
.icon-user-name::after {
    content: "";
    display: block;
    clear: both;
}
.icon-user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
}
.name-user{
    margin: 0px 0px 0px 10px;
    float: left;
    font-weight: 800;
    font-size: 16px;
}
.time {
    margin: 0px 0px 0px 10px;
    font-size: 12px;
    opacity: 0.7;
}
.icon-user img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
  
.comment-body {
    border-left: solid 2px #DDDDDD;
    margin-left: 19px;
}

.comment-row {
    padding-right: 0px;
    margin-left: 31px;
}

.comment-row .icon-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.content-comment {
    width: 100%;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: rgb(26, 26, 27);
    word-break: break-word;
    overflow: auto;
    padding-top: .6em;
    padding-right: 0px;
}

.number-like,.like-comment,.rep-comment,.unlike-comment{
    margin-right: .8em;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.rep-comment,.like-comment,.unlike-comment{
    cursor: pointer;
}

.unlike-comment{
 color: black;
}

.like-comment{
 color: #2196f3;
}
.like-icon {
    color:red;
}


.rep-comment span :hover{
    text-decoration: underline !important;
}

.bottom-like-share{
    font-size: 12px;
    margin-left: 31px;
}

button:focus {
    outline: none !important;
  }

.comment-textarea-container{
    display: block;
}
.comment-textarea-container textarea{
    height: 40px;
    font-size: 13px;
    resize: vertical;
    width: 100%;
    border-radius: 6px;
    line-height: 2;
    height: auto;
    outline: none !important;
    font-size: 15px;
    padding: 0px 10px;
}

.comment-textarea-container textarea:focus {
    outline: none !important;
}

.btn-rep{
    width: 65px;
    height: 31px;
    margin-top: .2em;
    font-size: 13px;
}
.mat-form-field {
    display: inline;
}