<div class="form-list-follow">
  <div class="title">
    <span><i class="fa fa-user-plus"></i>  {{title}}</span>
  </div>
  <div class="header">
    <input type="text" #searchUserName (keyup)="search(searchUserName.value)" class="form-control form-control-no-border" id="usr">
    <i class="fa fa-search icon-search"></i>
  </div>
  <div class="list-user-follow">
    <div class="" *ngFor="let user of listUser">
      <app-user-item [user]="user" [showBlocked]="false" [showFollowButton]="true"></app-user-item>
    </div>
  </div>
</div>