.home-container div {
    box-sizing: border-box;
}
.home-cover {
    position: relative;
    width: 100%;
}
.cover-image {
    max-height: 315px;
    width: 100%;
}
.nav-links {
    width: 90%;
}

.mat-tab-link {
    min-width: 100px !important; 
}