<div class="home-container">
  <div class="home-cover">
    <div>
      <img class="cover-image" src="{{coverImage}}">
    </div>
  </div>

  <nav class="container" >
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="nav-links">
          <nav mat-tab-nav-bar mat-align-tabs="left">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
              #rla="routerLinkActive" [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </nav>
</div>