<div class="home-container">
  <div class="home-cover">
    <div>
      <img class="cover-image" src="{{coverImage}}">
    </div>
  </div>

  <nav class="container" >
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="nav-links">
          <nav mat-tab-nav-bar mat-align-tabs="left">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
              #rla="routerLinkActive" [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
        </div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </nav>
</div>

<div class="search-results" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"></div>
  
<div *ngIf="isScrollTopShow" class="scroll-top">
  <button (click)="gotoTop()" mat-fab color="primary">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>