<div class="content-create">
    <div class="cover-image">
        <div *ngIf='isHasImg' class="editImage">
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="removeImage()">
                    <mat-icon>delete</mat-icon>Xoá ảnh
                </button>
                <button mat-menu-item (click)="fileClick()">
                    <mat-icon>add_photo_alternate</mat-icon>Thay ảnh khác
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="appMenu">
                <mat-icon>settings_applications</mat-icon> Chỉnh sửa hình ảnh
            </button>
        </div>
        <div *ngIf='isHasImg' class="set-bg-image">
            <img [src]="imgUrl" alt="">
        </div>
        <div [hidden]='isHasImg' class="upload-image">
            <button (click)="fileClick()" mat-icon-button class="">
                <mat-icon>add_photo_alternate</mat-icon>
                <app-upload-image width="60%" (croppedImage)="ImageCropted($event)" [aspectRatio]="3.3/1"
                    [resizeToWidth]="1350" #uploadImage></app-upload-image>
            </button>
            <div>
                <h4>Thêm hình/video cover bài viết</h4>
                <p class="sub-upload-image">( Hình ảnh tối ưu: 1350px x 480px. )</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="form-group title-input">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nhập tiêu đề bài viết</mat-label>
                <input [(ngModel)]="title" class="example-right-align" matInput type="text"
                [maxlength]='145' placeholder="Nhập tiêu đề bài viết">
            </mat-form-field>
        </div>
    </div>
    <div class="create-post-body">
        <div>
            <h5 class="mb-4 mb-accent">1. Địa điểm chuyến đi</h5>
        </div>
        <div class="row">
            <div class="pl-3 pr-3 destinations">
                <app-google-map-search width="100" height="40" matFill="true" (onSelect)="addDestination($event)">
                </app-google-map-search>
            </div>
            <div class="content-center ml-3 mb-4">
                <mat-chip-list>
                    <mat-chip selected color="primary" *ngFor="let location of destinations; let i=index"
                        [removable]="true" (removed)="removeDestination(i)">
                        {{location.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <h5 class="mb-4" color="accent">2. Viết bài cho chuyến đi</h5>
        <ckeditor [config]="config" #myEditor [editor]="Editor" [(ngModel)]="content" (ready)="onReady($event)">
        </ckeditor>
        <div class="row btnCreate">
            <button mat-raised-button (click)="createPost()"
                color="primary">{{ isUpdate ? 'Thay đổi' : 'Tạo bài viết'}}</button>
        </div>
        <div class="clear"></div>
    </div>
</div>