.fake-input{
    display: none;
}
.select-location{
    margin-top: 10px;
}
.step-title{
    font-size: 15px;
}
.step-body {
    text-align: -webkit-center;
}
.btn-step{
text-align: right;
}
button:focus {
    outline: none;
    outline: none !important;
  }
  ::ng-deep .mat-chip-list-wrapper {
    justify-content: center;
}
.btn-step button{
    margin-left: 15px;
    margin-top: 25px;
}
.pac-container {
    background-color: blue;
    border: solid 5px black;
}