<div class="step-create-post">
  <div class="step-title">
    <h3>Chọn chủ đề cho bài viết</h3>
  </div>
  <div class="step-body">
    <app-interested-topic [listTopicIdSelected]="selectedTopic" (EventTopic)="selectedTopics($event)"></app-interested-topic>
    <form class="fake-input" [formGroup]="secondFormGroup">
      <mat-form-field>
        <input matInput [(ngModel)]="fakeinput2" placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>

    </form>
  </div>
  <div class="btn-step">
    <button mat-raised-button color="primary"  [disabled]="!isDisable"  (click)="createPost()" >{{ data.isUpdate ? 'Lưu thay đôi' : 'Tạo bài viết' }}</button>
  </div>
</div>