<!-- Central Modal Medium Success -->
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header {{'modal-bg-' + message.messageType}}">
        <p class="heading">{{typePopup === 'success' ? 'Thành công' : 'Thất bại'}}</p>
        <button mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i *ngIf="typePopup === 'success'" class="fa fa-check fa-4x mb-3 animated rotateIn {{'color-' +typePopup}}"></i>
          <i *ngIf="typePopup !== 'success'" class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn {{'color-' +typePopup}}"></i>
          <p>{{message.messageText}}</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <div class="{{'btn-'+typePopup}}">
            <button class="btn" (click)="gotoHomePage()" mat-raised-button>Tiếp tục</button>
        </div>
        <div *ngIf="confirm" class="{{'btn-outline-'+typePopup}}">
            <button class="btn" mat-raised-button>Huỷ bỏ</button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
<!-- Central Modal Medium Success-->