<!-- Central Modal Medium Success -->
  <div class="modal-dialog modal-notify" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header {{'modal-bg-' + message.messageType}}">
        <p class="heading">{{title}}</p>
        <button mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i *ngIf="message.messageType === 'success'" class="fa fa-check fa-4x mb-3 animated rotateIn {{'color-' + message.messageType}}"></i>
          <i *ngIf="message.messageType === 'danger'" class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn {{'color-' + message.messageType}}"></i>
          <i *ngIf="message.messageType === 'confirm'" class="fa fa-exclamation-triangle fa-4x mb-3 animated rotateIn {{'color-' + message.messageType}}"></i>
          <p>{{message.messageText}}</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <div class="{{'btn-' + message.messageType}}">
            <button class="btn" (click)="continue()" mat-raised-button>Tiếp tục</button>
        </div>
        <div *ngIf="message.messageType === 'confirm'" class="{{'btn-outline-' + message.messageType}}">
            <button class="btn" (click)="cancel()" mat-raised-button>Huỷ bỏ</button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
<!-- Central Modal Medium Success-->