.interestedtopic{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}

.topic {
    border-radius: 5px;
    border-radius: 5px;
    width: 25%;
    height: 100px;
    float: left;
    padding: 2px!important;
    box-sizing: border-box !important;
    display: inline-block!important;
}

.topic-disable{
    opacity: 0.6;
}
.topic-active{
    opacity: 1;
}

.topic-active :hover{
    cursor: pointer;
    border:2px solid #3f51b5;
}

.name-topic{
    border: none !important;
    z-index: 9999;
    position: relative;
    font-weight: bold;
    color: #fff;
    font-size: 1em;
    top: -60px;
}

.imageInterested{
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.btn{
    float: right;
    margin: 1em 2em 0em 0em;
    background-color: #3f51b5;
    outline: none !important;
}

#title{
    padding-left: .2em;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
    margin-top: 1em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 3px;
    margin-top: 1em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f51b5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f51b5; 
  }

  .selected {
    opacity: 0.5 !important;
  }