<div class="container">
      <div class="animate">
            <h2 style="text-align:center">TripAdvensor</h2>
                 
            <div class="col" *ngIf="showformLoginFB">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
               </a>
              
              <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                </i> Login with Google+
              </a>
            <hr>
              <a href="#" class="twitter btn" (click)="changePage()">
                    <i class="fa fa-twitter fa-fw"></i> Login with Email
              </a>
            </div>
            
            <div class="col" *ngIf="showformLogin">
              <h3>Join now – it’s free!</h3>
              <input type="text" name="username" placeholder="Email address " required>
              <input type="password" name="password" placeholder="Create a password " required>
              <input type="submit" value="Join">
              <span><br>Want to use Facebook or Google instead? <a href="#" (click)="changePage()">Go back</a></span>
            </div>
        </div>
</div>