<div class="card">

  <div class="login-card-header">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Đăng Nhập</strong>
    </h5>
  </div>
  
  <!--Card content-->
  <div class="card-body">

    <!-- Form -->
    <form [formGroup]="form" class="text-center mt-2">

      <!-- Email -->
      <mat-form-field>
        <mat-label>Nhập email</mat-label>
        <input [(ngModel)]="email" matInput placeholder="Nhập email" type="email" formControlName="email">
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Nhập mật khẩu</mat-label>
        <input [(ngModel)]="password" formControlName="password" matInput placeholder="Nhập mật khẩu"
          [type]="pasHide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="pasHide = !pasHide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="pasHide">
          <mat-icon>{{pasHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Sign in button -->
      <button class="btn-sign-in" mat-flat-button color="primary" (click)="loginFunction()" type="submit">
        Đăng Nhập
        <ng-container *ngIf="isLoading">
          <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </ng-container>
      </button>

      <div class="d-flex justify-content-around mt-3">
        <div>
          <!-- Forgot password -->
          <a class="font-size-15" href="/quen-mat-khau">Quên mật khẩu?</a>
        </div>
      </div>

      <!-- Register -->
      <p class="color-gray">Không phải thành viên?
        <a routerLink="/dang-ky" (click)="callRegisterPage()" class="font-size-15" href="">Đăng kí</a>
      </p>

      <!-- Social login -->
      <p class="color-gray">Hoặc đăng nhập với:</p>
      <a mat-mini-fab class="mr-3" color="primary" (click)="signInWithFb()">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a mat-mini-fab color="warn" (click)="signInWithGoogle()">
        <i class="fa fa-google"></i>
      </a>
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->