  /* style the container */
  .loginForm {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding-top: 0.5em;
  } 
  .line-email{
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 1em;
  }
  
  .title-login{
    float: left;
    font-size: 2em;
    font-weight: bold;
    padding-bottom:0.5em;
  }
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    border: none;
    border-radius: 3px;
    opacity: 0.85;
    display: inline-block;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #3B5998;
    color: white !important;
  }
  
  .google {
    width: 100%;
    margin-bottom: 1em;
    background-color: #dd4b39;
    color: white !important;
  }
  
  input[type=text] {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    outline: none;
    border: 1px solid gray;
  }

  input[type=password] {
    width: 100%;
    margin-top: .5em;
    height: 2.5em;
    padding: 0.5em;
    border: 1px solid gray;
    outline: none;
  }

  /* style the submit button */
  input[type=submit] {
    margin-bottom: 1em;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    height: 2.5em;
  }
  
  input[type=submit]:hover {
    background-color: #3f51b5;
  }
  
  input[type=checkbox]{
    padding: 0;
    margin: 0;
    float: left;
    width: 2.5em;
    margin-top: 0.28em;
  }
  
  .checkbox {
    padding: 0;
  }
  .remember-forget {
     margin: 1em 0 1em 0;
  }
   
  .remember-forget a{
    float: right;
  }
 
  @media screen and (max-width: 414px) {
    .loginForm{
      width: 100%;
      padding: 0;
    }

    input[type=checkbox]{
      padding: 0;
      margin: 0;
      float: left;
      width: 2.5em;
      margin-top: 0.28em;
    }
    
    .checkbox {
      padding: 0;
    }
    .remember-forget {
       margin: 1em 0 1em 0;
       font-size: 1em !important;
    }
     
    .remember-forget a{
      float: left;
    }
  }

  .forget a{
    color: #3B5998;
    text-decoration: underline #3B5998;
  }

  .iconlogin, .iconsignup{
    padding-right: 1em;
  }
  
  .btn-primary{
    background-color:#3f51b5;
  }

  .messageLogin{
    margin: 1em;
    color: red;
    font-size: 20px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form-control{
    height: 37px !important;
  }

  .form-group {
    margin-bottom: 0px;
  }

  input[type=text],input[type=password]:focus {
    border: 1px solid gray;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .form-control.is-invalid{
    border-color: #dc3545 !important;
  }