<div class="row mt-4">
  <div class="col-1 step-icon">
    <button mat-fab>{{index + 1}}</button>
  </div>
  <div class="col-11 step-content">
    <div class="step-header">
      <div class="d-flex flex-row justify-content-between">
          <h5>{{schedule.scheduleTitle}}</h5>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <mat-chip-list>
        <mat-chip *ngFor="let location of schedule.destinations">
          {{location}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="step-note mt-2">
      <i>{{schedule.scheduleTitle}}</i>
    </div>
  </div>
</div>