  <ng-container>
    <ng-container *ngIf="!originText; else hasText">
        <button mat-button (click)="editAble = true">+ Thêm ghi chú mới</button>      
    </ng-container>
    <ng-template #hasText>
        <button (click)="editAble = true" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
    </ng-template>
  </ng-container>
  <div *ngIf="editAble" class="editable-form">
      <mat-card>
        <mat-card-header>
            <div class="header-text">Chỉnh sửa tiêu đề</div>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="isInputText; else textArea">
            <div class="form-group">
                <input [(ngModel)]="text" type="text" class="form-control">
            </div>
          </ng-container>
          <ng-template #textArea>
              <div class="form-group">
                  <textarea class="form-control text-area" [(ngModel)]="text" rows="5"></textarea>
                  <small id="helpId" class="form-text text-muted text-right">300 kí tự</small>
              </div>
          </ng-template>
    
        </mat-card-content>
        <mat-card-actions>
          <button (click)="save()" mat-mini-fab>Lưu</button>
        </mat-card-actions>
      </mat-card>
      <mat-icon class="arrow">arrow_drop_down</mat-icon>
    </div>