<div class="changepass">
  <div class="change-pass-form">
    <h4>Thay đổi mật khẩu</h4>
    <div class="old-pass">
      <i class="fa fa-lock icon-pass"></i><input type="password" class="form-control" placeholder="Nhập mật khẩu hiện tại" [(ngModel)]="oldpassword">
    </div>
    <div class="new-pass">
      <i class="fa fa-lock icon-pass"></i><input type="password" class="form-control" placeholder="Nhập mật khẩu mới" [(ngModel)]="newpassword">
    </div>
    <div class="re-pass">
      <i class="fa fa-lock icon-pass"></i><input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" [(ngModel)]="renewpassword">
    </div>
    <button class="btn btn-primary" (click)="changePassword()">Lưu thay đổi</button>
    <h5 style="color: red;">{{message}}</h5>
  </div>
</div>