<div class="registerform">
    <div class="form_wrapper">
        <h2>Thay đổi mật khẩu</h2>
        <span class="title">Vui lòng nhập đầy đủ thông tin của bạn vào biểu mẫu dưới đây</span>
        <form name="form" [formGroup]="form">
            <div class="form-group">
                <label for="password">Nhập mật khẩu hiển tại <span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="oldpassword"
                    [ngClass]="{'is-invalid':form.get('oldpassword').touched && form.get('oldpassword').invalid}" />
                <div *ngIf="form.get('oldpassword').touched && form.get('oldpassword').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('oldpassword').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('oldpassword').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Nhập mật khẩu mới <span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="newpassword"
                    [ngClass]="{'is-invalid':form.get('newpassword').touched && form.get('newpassword').invalid}" />
                <div *ngIf="form.get('newpassword').touched && form.get('newpassword').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('newpassword').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('newpassword').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Nhập lại mật khẩu<span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="repassword"
                    [ngClass]="{'is-invalid':form.get('repassword').touched && form.get('repassword').invalid}" />
                <div *ngIf="form.get('repassword').touched && form.get('repassword').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('repassword').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('repassword').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div *ngIf="error" class="err-mess"><span>{{message}}</span></div>
            <div class="form-group">
                <button (click)="changePassword()" class="btn btn-primary" [disabled]="!form.valid">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>