<div class="">
  <div class="row">
    <div class="col-4">
      <div class=row>
        <mat-card class="example-card">
          <div class="header-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <figure class="profile">
              <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
            </figure>
            <figure class="profile-right">
              <button mat-icon-button>
                <mat-icon>lock</mat-icon>
              </button>
            </figure>
            <button class="edit" mat-icon-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <mat-card-content>
            <div class="parent-content mt-3">
              <h4>Hà Nội</h4>
              <p><span class="sub-title">Bởi </span><a href="#"><span class="author-name">PhongNV</span></a></p>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="#">+ Thêm ghi chú mới</a>
              <p><span class="sub-title">0 mục cập nhập vào tháng 6 năm 2019</span></p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>
          <mat-card-content>
            <div class="child-content">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <div class="title-lacotion">
                <span>Hà Nội</span>
                <button class="btn-edit" mat-icon-button>
                    <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
              <p><span class="sub-title">Việt Nam</span></p>
              <div class="note row">
                <div class="author-avatar col-2">
                  <figure class="profile-note">
                    <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                  </figure>
                </div>
                <div class="note-text col-10">
                  <a href="#"><span class="author-name">PhongNV</span></a>
                  <span>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </span>
                </div>
              </div>
              <a href="#">+ Thêm ghi chú mới</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-8 right-content">
      <app-google-map></app-google-map>
    </div>
  </div>
</div>