<div class="register-form row justify-content-center pt-5 pb-5">
    <div class="col-5">
        <div class="card">
            <div class="login-card-header">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Đăng Ký</strong>
                </h5>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center mt-2">

                    <!-- Email -->
                    <mat-form-field>
                        <mat-label>Nhập email</mat-label>
                        <input [(ngModel)]="email" matInput placeholder="Placeholder" type="email"
                            (onchange)="emailOnchage()" formControlName="email">
                        <mat-error *ngIf="hasError('email','required')">Email bắt buộc</mat-error>
                        <mat-error *ngIf="hasError('email','maxLength')">Email phải nỏ hơn 255 kí tự</mat-error>
                        <mat-error *ngIf="hasError('email','email')">Email không hợp lệ</mat-error>
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field>
                        <mat-label>Nhập mật khẩu</mat-label>
                        <input [(ngModel)]="password" formControlName="password" matInput placeholder="Nhập mật khẩu"
                            [type]="pasHide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="pasHide = !pasHide" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pasHide">
                            <mat-icon>{{pasHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('password','required')">Mật khẩu bắt buộc</mat-error>
                        <mat-error *ngIf="hasError('password','minlength')">Mật khẩu phải lớn hơn 6 kí tự</mat-error>
                        <mat-error *ngIf="hasError('password','maxlength')">Mật khẩu phải nhỏ hơn 255 kí tự</mat-error>
                        <mat-error *ngIf="hasError('password','pattern')">Mật khẩu không hợp lệ</mat-error>
                    </mat-form-field>

                    <!-- Re Password -->
                    <mat-form-field>
                        <mat-label>Nhập mật lại khẩu</mat-label>
                        <input [(ngModel)]="rePassword" formControlName="rePassword" matInput
                            placeholder="Nhập lại mật khẩu" [type]="pasHide ? 'password' : 'text'"
                            [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="pasHide = !pasHide" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pasHide">
                            <mat-icon>{{pasHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('rePassword','required')">Nhập lại mật khẩu bắt buộc</mat-error>
                        <mat-error *ngIf="!hasError('rePassword','required') && form.hasError('isNotMatchPassword')">
                            Không trùng với mật khẩu</mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-center mt-3">
                        <div>
                            <!-- Remember me -->
                            <div class="form-check">
                                <mat-checkbox class="color-gray" [(ngModel)]="agreePolicy" formControlName="checkbox">
                                        <a [routerLink]="['/dieu-khoan']">Tôi đồng ý với các điều khoản của Trip Sharing</a>
                                </mat-checkbox>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn-sign-in" [disabled]="form.invalid || !form.valid" mat-flat-button color="primary"
                        type="submit">
                        Đăng Ký
                        <ng-container *ngIf="isLoading">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                    </button>
                    <mat-error *ngIf="errorRegister">
                        {{message}}
                    </mat-error>
                    <!-- Social login -->
                    <!-- <p class="color-gray">Hoặc đăng ký với:</p>
                    <a mat-mini-fab class="mr-3" color="primary">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a mat-mini-fab color="warn">
                        <i class="fa fa-google"></i>
                    </a> -->
                </form>
                <!-- Form -->

            </div>

        </div>
    </div>
</div>