<div class="registerform">
    <div class="form_wrapper">
        <h2>Đăng Ký</h2>
        <span class="title">Vui lòng nhập đầy đủ thông tin của bạn vào biểu mẫu dưới đây</span>
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="form-group">
                <label for="email">Email<span class="require"> (*)</span></label>
                <input type="text" class="form-control" formControlName="email"
                    [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
                <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('email').errors.required">Kiểm tra lại Email của bạn</div>
                    <div *ngIf="form.get('email').errors.email">Kiểm tra lại Email của bạn</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Nhập mật khẩu <span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="password"
                    [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('password').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('password').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Nhập lại mật khẩu<span class="require"> (*)</span></label>
                <input type="password" class="form-control" formControlName="repassword"
                    [ngClass]="{'is-invalid':form.get('repassword').touched && form.get('repassword').invalid}" />
                <div *ngIf="form.get('repassword').touched && form.get('repassword').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('repassword').errors.required">Kiểm tra lại mật khẩu</div>
                    <div *ngIf="form.get('repassword').errors.minlength">Mật khẩu phải có ít nhất 6 kí tự</div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" value="true" class="form-check-input" id="exampleCheck1"
                    formControlName="checkbox" required>
                <label class="form-check-label" for="exampleCheck1">Tôi đồng ý với các điều khoản của <a
                        href="#">TripSharing.com</a></label>
            </div>
            <div *ngIf="error" class="err-mess"><span>{{message}}</span></div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!form.valid">Đăng ký</button>
            </div>
        </form>
    </div>
</div>