  .registerform{
    background-image: url(https://gody.vn/public/v3/images/bg/br-register.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }  
 
  .form_wrapper {
    background: #fff;
    width: 320px;
    border-radius: 15px;
    padding: 15px;
    top: 5%;
    right: 10%;
    position: absolute;
    border-top: 5px solid #2196f3;
    border-bottom: 5px solid #2196f3;
    height: auto;
  }
  .form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }

  .btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2196f3;
    float: right;
    width: 100%;
  }

  input[type=text],input[type=password]:focus {
    border-color:#ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .require{
    color: red;
  }

  .title{
    font-size: 15px;
    font-style: italic;
  }
  
  .form-control{
    height: 33px !important;
  }

  .form-group{
    margin-bottom: 5px;
  }

  .err-mess{
    color: red;
    font-size: 15px;
    font-style: italic;
  }