
.bookmark-item{
    width: 100%;
    height: 100%;
    clear: both;
    border-bottom: 1px solid grey;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.bookmarkHidden{
    position: absolute; 
}

.image-cover{
    float: left;
    width: 28%;
}

.image-cover img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.content{
    float: left;
    width: 70%;
    height: 95%;
    padding-left: 10px;
}

.category-post {
    color: gray;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
}


.title{
    float: left;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 90%;
}

.icon-remove{
    padding: 0;
    right: 0px;
    margin-top: -9px;
    position: absolute;
}
